.checkbox {
	position: relative;

	input {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		visibility: hidden;

		&:checked ~ .checkbox__label .checkbox__box {
			background-color: $blue-main;
		}

		&:checked ~ .checkbox__label .checkbox__box::before {
			content: "\e908";
			position: absolute;
			font-family: "icomoon";
			top: 50%;
			left: 50%;
			font-size: .8rem;
			color: #FFF;
			transform: translate(-50%, -50%);
		}
	}

	&__label {
		display: flex;
		align-items: center;
		color: $dark;
		transition: color .3s;
		cursor: pointer;

		&:hover {
			color: $blue-main;

			.checkbox__box {
				background-color: $blue-main;
			}
		}

		&:active {
			color: $blue-light;

			.checkbox__box {
				background-color: $blue-light;
			}
		}
	}

	&__box {
		position: relative;
		width: 20px;
		height: 20px;
		border-radius: 5px;
		border: 1px solid $blue-main;
		margin-right: 10px;
		transition:  background-color .2s;
	}

}

.checkbox--width100 {
	width: 100%;
}
