.btn {
	display: inline-block;
	cursor: pointer;
	span {
		position: relative;
		display: inline-block;
		font-size: 1rem;
		line-height: 1.3;
		padding: 26px 43px;
		color: #FFF;
		background: linear-gradient(90deg, #BC5B2A, #FF884B);
		border-radius: 90px;
	}

	&:hover {

		span {
			background: linear-gradient(90deg, #FF884B, #BC5B2A);

			&::before {
				content: "";
				position: absolute;
				top: 4px;
				right: 4px;
				bottom: 4px;
				left: 4px;
				border: 1px dashed #FFF;
				border-radius: 90px;
			}
		}
	}

}

.main-logo {
	display: flex;
	align-items: center;

	p {
		margin-left: 2rem;
		color: $blue-light;
		max-width: rem(172px);
	}
}


.main-mail {
	position: relative;
	color: $blue-light;
	padding-left: 1.6rem;
	transition: color .3s;

	&::before {
		content: "\e900";
		position: absolute;
		top: 50%;
		left: 0;
		font-family: "icomoon";
		font-size: 0.8rem;
		color: $blue-light;
		transform: translateY(-50%);
		transition: color .3s;
	}

	&:hover {
		color: #FFF;

		&::before {
			color: #FFF;
		}
	}
}

.main-tel {
	position: relative;
	font-size: rem(20px);
	line-height: 1.4;
	padding-left: 1.6rem;
	color: #FFF;

	&::before {
		content: "\e901";
		position: absolute;
		top: 50%;
		left: 0;
		font-family: "icomoon";
		font-size: 0.8rem;
		color: #FFF;
		transform: translateY(-50%);
		transition: transform .2s;
	}

	&:hover {

		&::before {
			transform: translateY(-50%) rotate(27deg);

		}
	}
}

.mobile_btn {
	position: fixed;
    top: 0.7rem;
    right: 1.5rem;
	width: 60px;
	height: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 890;
	background-color: #FFF;
	border-radius: 50%;
	display: none;

	@include _769 {
		display: flex;
	}

	@include _480 {
		right: 1rem;
	}

	@include _360 {
		top: 0.9rem;
		right: 0.7rem;
		width: 50px;
		height: 50px;
	}


	span {
		display: block;
		width: 70%;
		height: 3px;
		background-color: $blue-darken;
		border-radius: 2px;
		flex-shrink: 0;
		transition: transform 0.7s;

		&:nth-child(2) {
			margin: 4px 0;
		}
	}

	&.active {

		& span {
			position: absolute;
			transform: rotate(-45deg);

			&:first-child {
				transform: rotate(45deg);
			}

			&:nth-child(2) {
				opacity: 0;
				visibility: hidden;
			}

			&:last-child {
				transform: rotate(-45deg);
			}
		}
	}
}

.menu_mobile {
	position: fixed;
	top: -100%;
	right: 0;
	width: 0;
	height: 100%;
	z-index: 800;
	background-color: $blue-darken;
	&__inner {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 2rem 0;
	}

	&__nav {
		margin-top: auto;
		ul {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			li {
				margin-bottom: 1.3rem;
				transform: translateX(100px);
				opacity: 0;

				a {
					font-family: "Montserrat-Bold", sans-serif;
					font-size: 2rem;
					color: #FFF;

					@include _360 {
						font-size: 1.8rem;
					}
				}
				&:last-child {
					margin-bottom: 0;
				}

				@include _480 {
					margin-bottom: 0.7rem;
				}
			}
		}
	}

	&__mail-link {
		margin-top: auto;
		margin-bottom: 1rem;
		color: #FFF;
		font-size: 1.4rem;
		transform: translateY(100px);
		opacity: 0;
		&::before {
			color: #FFF;
		}
		transition: none;
	}

	&__tel {
		margin-bottom: 1rem;
		font-size: 1.4rem;
		transform: translateY(100px);
		opacity: 0;
		transition: none;

	}

	&__btn {
		transform: translateY(100px);
		opacity: 0;
		transition: none;

	}
}

@import "checkbox";
