@import "settings";
@import "include";


.main_custom {
	position: relative;
	overflow: hidden;
}

.body-custom {
	position: relative;
}

.header-custom {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 150;

	@include _1366 {
		&__tel {
			margin-left: 62px;
		}
	}

	@include _1200 {
		&__mail {
			display: none;
		}

		&__tel {
			margin-left: auto;
		}

	}

	@include _769 {
		&__bottom {
			display: none;
		}

		&__btn {
			display: none;
		}

		&__tel {
			margin-left: auto;
			font-size: 1rem;
			margin-right: 80px;
		}

		&__logo {
			p {
				margin-left: 1rem;
				font-size: rem(14px);
			}
		}
	}

	@include _740 {
		&__tel {
			display: none;
		}
	}


	&__top {
		padding: 0.3rem 0;
		border-bottom: 1px solid #97E9E7;

		.flex-container {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	&__bottom {
		.container-fluid {
			text-align: center;
		}
	}


	&__nav {
		position: relative;
		display: inline-block;

		.nav-line {
			position: absolute;
			top: -2.7px;
			left: 0;
			width: 24px;
			height: 5px;
			background-color: $blue-lighter;
			z-index: 50;
			transition: all .3s;
		}

		ul {
			display: flex;
			justify-content: center;
			align-items: center;

			li {
				padding-top: 14px;
				margin-right: 36px;
				&:last-child {
					margin-right: 0;
				}

				a {
					color: #FFF;
					text-transform: uppercase;
				}
			}
		}
	}

	&__btn {
		margin-left: 20px;
		span {
			padding: 10px 27px;
		}
	}

	&__tel {
		margin-left: 112px;
	}

	&__mail {
		flex-grow: 1;
		text-align: end;
	}
}

.hero_section {
	position: relative;
	background-color: $blue-main;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	@include _1440 {
		&__inner {
			padding-top: 14rem;
			padding-bottom: 6.7rem;
		}
	}

	@include _1366 {
		&__title {
			max-width: 37rem;
			h1 {
				font-size: 3rem;
			}
		}
	}

	@include _1280 {
		&__inner {
			padding-bottom: 4rem;
		}
	}

	@include _1200 {
		&__title {
			max-width: 32rem;
			h1 {
				font-size: 2.5rem;
			}
		}
	}

	@include _992 {
		background-position: 34%;
	}

	@include _769 {
		background-position: 44%;
		&__inner {
			padding-top: 10rem;
		}
	}

	@include _480 {
		background-image: url(../images/hero--bg.png) !important;
		padding-bottom: 14rem;

		&__title {
			h1 {
				strong {
					margin-left: 0;
				}
			}
		}

		&__btn {
			margin-bottom: 3rem;
		}

		&__img {
			display: block;
		}

		&__title {
			h1 {
				font-size: 2rem;
			}
		}
	}

	&__img {
		display: none;
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translateX(-50%);
		width: 100%;
	}



	&__inner {
		padding-top: rem(288px);
		padding-bottom: 10.6rem;
	}

	&__title {
		max-width: 41rem;
		h1 {
			font-size: rem(56px);
			line-height: 1.2;
			letter-spacing: 1px;
			color: #FFF;
			text-transform: uppercase;
			margin: 0;
			span {
				color: $blue-light;
			}

			strong {
				font-family: "Montserrat-Regular", sans-serif;
				color: #FFF;
				font-size: rem(32px);
				line-height: 1.3;
				text-transform: lowercase;
				font-weight: normal !important;
				letter-spacing: 0;
				margin-left: -0.7rem;
			}
		}

		p {
			color: #FFF;
			font-size: rem(32px);
			line-height: 1.3;
			margin: 0;
			margin-top: 1rem;
		}
	}

	&__btn {
		// margin: rem(64px) 0;
		margin-top: 3.4rem;
		margin-bottom: 5.1rem;
		span {
			padding: 23px 36px;
		}
	}

	&__icons {
		max-width: 306px;

	}

	&__icons_text {
		color: #FFF;
		padding-left: 112px;
		position: relative;
		margin: 0;
		margin-bottom: rem(27px);

		&:nth-child(1) {
			z-index: 2;
			&::before {
				content: "\e902";
			}
		}
		&:nth-child(2) {
			&::before {
				content: "\e903";
				font-size: 2.1rem;
			}
		}

		&::before {
			// content: "";
			position: absolute;
			top: 50%;
			left: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 86px;
			height: 86px;
			font-family: "icomoon";
			font-size: 1.5rem;
			background-color: $blue-main;
			border: 1px solid $blue-light;
			border-radius: 50%;
			color: $blue-light;
			transform: translateY(-50%);
		}
	}
}

.feautures {
	position: relative;
	padding-top: rem(200px);
	padding-bottom: rem(142px);

	@include _1536 {

		&__first_line {
			top: 16rem;
		}

		&__second_line {
			width: 46%;
		}

		&__third_line {
			top: 29rem;
			width: 50%;
		}

		&__fourth_line {
			top: 28rem;
			width: 50%;
		}

	}

	@include _1440 {
		&__second_line {
			top: 6rem;
		}

		&__fourth_line {
			top: 29rem;
		}
	}

	@include _1366 {
		padding-top: 9rem;
		padding-bottom: 6rem;

		&__image {
			top: 5rem;
			width: 36%;
		}
	}

	@include _1200 {
		padding-top: 6rem;
		&__line {
			display: none;
		}

		&__image {
			top: 12rem;
		}
	}

	@include _960 {
		&__col {
			max-width: 22rem;
		}
	}

	@include _769 {
		&__image {
			display: none;
		}
	}

	@include _769 {
		&__col {
			max-width: 21rem;
		}
	}

	@include _600 {
		&__row {
			flex-direction: column;
		}

		&__col {
			max-width: 100%;
			&:nth-child(1) {
				margin-bottom: 84px;
			}
		}
	}


	&__line {
		position: absolute;
		z-index: 50;
	}

	&__first_line {
		top: 18rem;
		right: 51%;
	}

	&__second_line {
		top: 4rem;
		left: 53%;
	}

	&__third_line {
		top: 25rem;
		right: 51%;
	}

	&__fourth_line {
		top: 23rem;
		left: 52%;
	}

	&__row {
		display: flex;
		justify-content: space-between;
	}

	&__col {
		max-width: rem(449px);
	}

	&__image {
		position: absolute;
		top: rem(48px);
		left: 50%;
		transform: translateX(-50%);
		margin-right: -50%;
		z-index: 65;
	}
}

.feautures_box {
	position: relative;
	background-color: $grey;
	border-radius: 10px;
	min-height: 264px;
	padding: 30px;
	margin-bottom: 106px;
	display: flex;
	justify-content: center;

	@include _960 {
		&__text {
			h4 {
				font-size: 1.1rem;
			}
		}
	}

	@include _769 {
		margin-bottom: 84px;
		&__image {
			width: 68%;
		}
	}

	@include _600 {
		min-height: 241px;
		&__image {
			width: auto;
		}
	}


	&:last-child {
		margin-bottom: 0;
	}

	&__image {
		position: absolute;
		top: -5rem;
		left: 50%;
		transform: translateX(-50%);
		margin-right: -50%;
	}

	&__text {
		text-align: center;
		margin-top: auto;

		h4 {
			font-family: "Montserrat-Bold", sans-serif;
			font-size: rem(24px);
			text-align: center;
			text-transform: uppercase;
			margin: 0;
			margin-bottom: 1rem;

			span {
				color: $orange;
			}

		}

		p {
			text-align: center;
			margin: 0;
			line-height: 1.3;
		}
	}
}

.about_company {
	position: relative;
	background-color: #EEF5F4;
	// overflow: hidden;

	@include _1536 {
		&__image {
			right: 2.5rem;
		}
	}

	@include _1440 {
		&__col {
			padding-top: 6rem;
			&:nth-child(1) {
				flex-basis: 65%;
			}
		}
	}

	@include _1366 {
		&__col {
			padding-top: 90px;

			&:nth-child(2) {
				flex-basis: 35%;
			}
		}

		&__image {
			bottom: -7rem;
		}
	}

	@include _1280 {
		&__col {
			&:nth-child(2) {
				flex-basis: 33%;
			}
		}
	}

	@include _1200 {
		&__col {
			padding-top: 70px;
		}

		&__image {
			bottom: -4rem;
			width: 31%;
		}
	}

	@include _992 {

		&__col_image {
			width: 160%;
		}

		&__title {
			margin-bottom: 3rem;
		}

		&__col {
			&:nth-child(2) {
				flex-basis: 35%;
			}
		}
	}

	@include _769 {
		background-color: $blue-main;

		&__title {
			h2 {
				font-size: 2.3rem;
			}
		}


		&__col_image {
			width: 220%;

			&.--bottom {
				display: none;
				top: auto;
				bottom: 0;
			}
		}

		&__row {
			flex-direction: column;
		}

		&__col {
			width: 100%;
			&:nth-child(1) {
				flex-basis: auto;
				// order: 2;

			}

			&:nth-child(2) {
				flex-basis: auto;
				// order: 1;
				padding-top: 0;
				padding-bottom: 0;
			}
		}

		&__image {
			z-index: 60;
			top: 4rem;
			bottom: auto;
		}
	}

	@include _600 {
		&__col {
			&:nth-child(1) {
				padding-top: 60px;
			}
		}

		&__title {
			h2 {
				font-size: 2.3rem;
			}

			p {
				font-size: 1.3rem;
			}
		}
	}

	@include _500 {
		&__image {
			display: none;
		}
	}

	@include _480 {
		&__title {
			h2 {
				font-size: 2rem;
			}
		}
	}

	&__image {
		position: absolute;
		bottom: -3rem;
		right: rem(200px);
		z-index: 50;
	}


	&__col_image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 60;

		&.--bottom {
			display: none;
		}
	}

	&__row {
		position: relative;
		display: flex;
		align-items: flex-start;
	}

	&__col {
		position: relative;
		z-index: 25;
		padding-top: 112px;
		padding-bottom: 92px;
		background-color: $blue-main;

		&:nth-child(1) {
			flex-basis: 73%;
			padding-bottom: 0;

			&::before {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: -100%;
				background-color: $blue-main;
				z-index: -1;
			}
		}

		&:nth-child(2) {
			flex-basis: 27%;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				right: -100%;
				bottom: 0;
				left: 0;
				background-color: $blue-main;
				z-index: -1;
			}

			&::after {
				content: url(../images/about_company_bg1.png);
				position: absolute;
				bottom: -10px;
				left: 0;

				@include _769 {
					content: none;
				}
			}
		}

	}

	&__title {
		max-width: rem(446px);
		margin-bottom: rem(64px);

		h2 {
			font-family: "Montserrat-Bold", sans-serif;
			font-size: rem(40px);
			line-height: 1.2;
			text-transform: uppercase;
			color: #FFF;
			margin: 0;
			margin-bottom: 10px;

		}

		p {
			margin: 0;
			color: $blue-light;
			font-size: rem(24px);
			line-height: 1.3;
		}
	}

	&__tabs_list {
		// position: absolute;
		// left: 0;
		// top: 16.5rem;
		width: 100%;
	}
}

.tabs__item {
	position: relative;
	padding-top: 64px;
	padding-bottom: 120px;
	background-color: #EEF5F4;
	margin-left: -100%;
	padding-left: 100%;
	display: none;

	@include _1440 {
		padding-bottom: 64px;
		&_img {
			width: 24%;
		}

	}

	@include _1280 {
		&_info {
			max-width: 20rem;
		}
	}

	@include _1024 {
		padding-top: 44px;
		padding-bottom: 44px;
	}

	@include _769 {
		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: -49%;
			height: 100%;
			width: 50%;
			background-color: #EEF5F4;
		}
	}

	@include _500 {
		&_info {
			max-width: 18rem;
		}
		&_img {
			right: -2rem;
		}
	}

	@include _375 {
		padding-bottom: 75px;

		&_btn {
			span {
				padding: 24px 35px;
			}
		}
	}

	&.active {
		display: block;
	}


	&_info {
		max-width: 26rem;

		@include _1536 {
			max-width: 24rem;
		}
	}

	&_btn {
		margin-top: 2.525rem;

		span {
			padding: 24px 40px;
		}
	}

	&_img {
		position: absolute;
		right: 0;
		bottom: 0;
	}


	h4 {
		font-size: 24px;
		line-height: 1.4;
		color: $dark;
		margin: 0;
		margin-bottom: rem(24px);
		text-transform: uppercase;
	}

	p {
		margin: 0;
	}
}

.tabs__nav {
	counter-reset: section;
	padding-left: rem(60px);
	max-width: 24rem;
	margin-top: 1rem;

	@include _1366 {
		padding-left: 3rem;
	}

	@include _1280 {
		// &_item {
		// 	font-size: 0.9rem;
		// }
	}

	@include _1200 {
		&_item {
			margin-bottom: 1.5rem;
		}
	}

	@include _769 {
		display: none;
		max-width: 100%;
		width: 100%;
		padding-left: 0;

		&.-mobile {
			display: block;
			margin-bottom: 40px;
		}
	}


	&.-mobile {
		display: none;
	}

	&_item {
		position: relative;
		padding-left: 80px;
		min-height: 62px;
		margin-bottom: 2.05rem;
		display: flex;
		align-items: center;
		color: $blue-light;
		text-transform: uppercase;
		font-family: "Montserrat-Bold", sans-serif;
		cursor: pointer;
		transition: color .3s;


		&:last-child {
			margin-bottom: 0;
		}


		&::before {
			counter-increment: section;
			content: counter(section);
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			display: flex;
			align-items: center;
			justify-content: center;
			font-family: "Montserrat-Bold", sans-serif;
			font-size: rem(40px);
			line-height: 1;
			width: 62px;
			height: 62px;
			border-radius: 10px;
			border: 1px solid $blue-light;
			color: $blue-light;
			transition: color .3s;
		}

		&::after {
			content: url(../images/tabs_nav_item_img.png);
			position: absolute;
			top: -2rem;
			left: -1rem;
			opacity: 0;
			visibility: hidden;
			transition: opacity .3s;
		}

		&.active {
			background-color: #20AAA7;
			border: 1px solid $blue-light;
			border-radius: 10px;
			color: #FFF;

			&::before {
				border: 1px solid transparent;
				color: #FFF;
			}
			&::after {
				opacity: 1;
				visibility: visible;
			}
		}


		&:hover {
			background-color: #20AAA7;
			border: 1px solid $blue-light;
			border-radius: 10px;
			color: #FFF;

			&::before {
				border: 1px solid transparent;
				color: #FFF;
			}
			&::after {
				opacity: 1;
				visibility: visible;
			}
		}
	}

}

.company_catalog {
	position: relative;
	padding: 143px 0;

	@include _1536 {
		padding: 123px 0;
	}

	@include _1440 {
		padding: 6rem 0;
	}

	@include _1366 {

		&::before {
			top: 35%;
			height: 27rem;
		}

		&__title {
			margin-bottom: 70px;
		}

		&__container {
			min-height: 55rem;
		}
	}

	@include _1200 {
		&::before {
			top: 38%;
    		height: 20rem;
		}

		&__container {
			min-height: 45rem;
		}
	}

	@include _992 {
		padding: 80px 0;
	}

	@include _769 {
		&__title {
			h2 {
				font-size: 2.3rem;
			}
		}

		&::before {
			top: 34%;
		}

		&__container {
			min-height: 51rem;
		}

		&__col {
			flex-basis: 33.3%;
			&:nth-child(n+7) {
				display: none;
			}
		}

		&__btn {
			display: block;
		}
	}

	@include _600 {
		&__title {
			margin-bottom: 90px;
			h2 {
				font-size: 2.3rem;
			}
		}

		&__container {
			min-height: 41rem;
		}
	}

	@include _500 {
		padding: 70px 0;
		&__container {
			min-height: 51rem;
		}

		&__col {
			flex-basis: 50%;
			&:nth-child(n+5) {
				display: none;
			}
		}
	}

	@include _480 {
		padding: 70px 0;
		&::before {
			top: 29%;
		}

		&__container {
			min-height: 47rem;
		}

		&__title {
			margin-bottom: 60px;
			h2 {
				font-size: 2rem;
			}
		}

	}

	@include _375 {
		&__container {
			min-height: 43rem;
		}
	}


	&__btn {
		display: none;
		text-align: center;
		margin: 0 auto;
		margin-top: 2rem;
		span {
			padding: 24px 60px;
		}
	}

	&::before {
		content: "";
		position: absolute;
		top: 32.4%;
		left: 0;
		width: 100%;
		height: rem(560px);
		background-color: #E3EEED;
	}



	&__title {
		text-align: center;
		margin-bottom: 104px;
		h2 {
			font-family: "Montserrat-Bold", sans-serif;
			font-size: rem(40px);
			line-height: 1.2;
			text-transform: uppercase;
			color: $dark;
			margin: 0;

			span {
				color: $orange;
			}

		}
	}

	&__container {
		display: flex;
		margin: -12px;
		flex-wrap: wrap;
		min-height: 62.1rem;
		align-content: space-between;
	}

	&__col {
		padding: 12px;
		flex-basis: 20%;
	}
}

.catalog_item {
	position: relative;
	// min-height: 426px;
	border-radius: 10px;
	display: block;

	@include _1366 {
		&__top {
			min-height: 20rem;
		}
	}

	@include _1200 {
		&__top {
			min-height: 14rem;
		}
	}

	@include _769 {
		&__top {
			min-height: 18rem;
		}
	}

	@include _600 {
		&__top {
			min-height: 13rem;
		}
	}

	@include _500 {
		&__top {
			min-height: 18rem;
		}
	}

	@include _480 {
		&__top {
			min-height: 16rem;
		}
	}

	@include _375 {
		&__top {
			min-height: 14rem;
		}
	}

	&__top {
		position: relative;
		background-color: #F5F5F5;
		border-radius: 10px 10px 0 0;
		transition: background-color .3s;
		min-height: rem(367px);
	}

	&__img {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		margin-right: -50%;
	}

	&__text {
		padding: 20px 16px;
		text-align: center;
		color: $dark;
		border-radius: 0 0 10px 10px;
		transition: background-color .3s, color .3s;
	}

	&::before {
		content: "\e904";
		font-family: "Icomoon";
		font-size: 0.8rem;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 50;
		transform: translate(-50%, -50%);
		width: 66px;
		height: 66px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #FFF;
		background: linear-gradient(90deg, #FF884B,  #BC5B2A);
		border-radius: 50%;
		opacity: 0;
		visibility: hidden;
		transition: opacity .3s, transform .3s;
	}

	&::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 50;
		transform: translate(-50%, -50%);
		width: 62px;
		height: 62px;
		border-radius: 50%;
		border: 1px dashed #FFF;
		opacity: 0;
		visibility: hidden;
		transition: opacity .3s, transform .3s;
	}

	&:hover {

		.catalog_item__top {
			background-color: $blue-main;
		}

		.catalog_item__text {
			background-color: $blue-darken;
			color: #FFF;
		}



		&::before {
			opacity: 1;
			visibility: visible;
			transform: translate(-50%, -50%) rotate(360deg);
		}

		&::after {
			opacity: 1;
			visibility: visible;
		}
	}


}

.services {
	position: relative;
	padding-top: rem(112px);
	padding-bottom: rem(217px);

	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	// overflow: hidden;

	@include _1440 {
		padding-top: 6rem;
	}

	@include _1366 {
		padding-top: 5rem;
		padding-bottom: 10rem;

		&__title {
			margin-bottom: 100px;
		}

		&__main_img {
			left: 50%;
			bottom: -10rem;
			width: 76%;
			transform: translateX(-50%);
		}

		&__col {
			&:nth-child(1) {

				&::before {
					top: -90px;
					right: -90px;
					bottom: -10rem;
				}
			}

			&:nth-child(2) {

				&::before {
					top: -90px;
					left: -48px;
					bottom: -10rem;
				}

			}
		}

	}

	@include _1280 {
		&__col {
			&:nth-child(1) {

				&::before {
					top: -60px;
				}
			}

			&:nth-child(2) {

				&::before {
					top: -60px;
				}

			}
		}
	}

	@include _1200 {
		padding-bottom: 20rem;

		&__title {
			margin-bottom: 70px;
		}

		&__main_img {
			bottom: -20rem;
		}



		&__col {
			&:nth-child(1) {

				&::before {
					content: none;
				}
			}

			&:nth-child(2) {

				&::before {
					content: none;
				}

			}
		}
	}

	@include _992 {
		&__title {
			margin-bottom: 60px;
		}

		&__top_bg {
			top: 0;
			width: 160%;
		}
	}

	@include _769 {

		&__title {
			max-width: 40.5rem;
			h2 {
				font-size: 2.3rem;
			}

			p {
				font-size: 1.3rem;
			}
		}

		&__col {
			max-width: 20rem;
		}
		&__top_bg {
			width: 180%;
		}
	}

	@include _740 {
		&__top_bg {
			width: 200%;
		}

		&__title {
			max-width: 100%;
			h2 {
				font-size: 2.1rem;
			}

			p {
				font-size: 1.3rem;
			}
		}

		&__row {
			flex-direction: column;
		}

		&__col {
			flex-basis: auto;
			max-width: 100%;
			// width: 100%;

			&:nth-child(1) {
				margin-bottom: 3rem;
			}
		}
	}

	@include _500 {
		padding-bottom: 15rem;

		&__top_bg {
			width: 230%;
		}

		&__main_img {
			bottom: -15rem;
		}

		&__title {
			max-width: 100%;
			h2 {
				font-size: 1.7rem;
			}

			p {
				font-size: 1.2rem;
			}
		}
	}

	@include _480 {
		&__title {
			h2 {
				font-size: 2rem;

				span {
					display: block;
				}
			}
		}
	}

	@include _375 {
		&__main_img {
			width: 90%;
		}
	}

	&__top_bg {
		position: absolute;
		top: -4px;
		left: 0;
		width: 100%;
	}

	&__main_img {
		position: absolute;
		left: 3%;
		bottom: rem(-217px);
		z-index: 5;
	}

	&__title {
		max-width: rem(712px);
		// text-align: center;
		margin: 0 auto;
		margin-bottom: 136px;
		h2 {
			font-family: "Montserrat-Bold", sans-serif;
			font-size: rem(40px);
			line-height: 1.2;
			text-transform: uppercase;
			color: #FFF;
			margin: 0;
			text-align: center;

			span {
				color: $blue-light;
			}
		}

		p {
			margin: 0;
			color: $blue-light;
			font-size: rem(24px);
			line-height: 1.4;
			text-align: center;
			margin-top: 0.4rem;
			span {
				color: #FFF;
				text-transform: uppercase;
				font-family: "Montserrat-Bold", sans-serif;

			}
		}
	}

	&__row {
		display: flex;
		justify-content: space-between;
		z-index: 5;
	}

	&__col {
		max-width: rem(416px);
		position: relative;
		// z-index: 5;
		&:nth-child(1) {
			z-index: 10;
			&::before {
				content: "";
				position: absolute;
				top: -105px;
				right: -112px;
				left: -100%;
				bottom: -217px;
				background-color: $blue-darken;
				opacity: 0.67;
				border: 1px dashed $blue-lighter;
				z-index: -1;
				// transform: rotate(-9deg) translate(-15px, 51px);
			}
		}
		&:nth-child(2) {
			// z-index: 4;

			&::before {
				content: "";
				position: absolute;
				top: -105px;
				right: -100%;
				left: -69px;
				bottom: -217px;
				background-color: $blue-darken;
				opacity: 0.67;
				border: 1px dashed $blue-lighter;
				z-index: -1;
				// transform: translate(0px, 42px) rotate(9deg);

			}

			.accordion {
				position: relative;
				z-index: 10;
			}

		}
	}
}

.accordion {

	&__item {
		margin-bottom: 3rem;

		&:last-child {
			margin-bottom: 0;
		}

		&.active {

			.accordion__item_head {
				background-color: #219B98;
				border: 1px solid #FFF;
				padding-left: 63px;

				&::before {
					border: none;
					background-color: #219B98;
				}
				.accordion__icon {
					transform: rotate(0);
				}
			}

			.accordion__item_info {
				opacity: 1;
				padding: 32px;
				// padding-top: 45px;
				padding-left: 21px;
			}
		}
	}

	&__item_head {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-left: 86px;
		min-height: 63px;
		background-color: #20AAA7;
		color: #FFF;
		text-transform: uppercase;
		border-radius: 10px;
		cursor: pointer;
		transition: background-color .3s;


		&::before {
			content: attr(data-text);
			position: absolute;
			left: 0;
			top: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			width: 62px;
			font-family: "Montserrat-Bold", sans-serif;
			font-size: 40px;
			line-height: 1;
			transform: translateY(-50%);
			background-color: $blue-main;
			border: 1px solid #97E9E7;
			border-radius: 10px;
			transition: background-color .3s;

		}
	}

	&__item_info {
		padding: 32px;
		background-color: #20AAA7;
		border-radius: 0 0 10px 10px;
		padding-top: 3rem;
		// margin-top: -1rem;
		max-height: 0;
		opacity: 0;
		overflow: hidden;
		padding: 0 32px;
		will-change: max-height;
		transition: all .3s ease-out;
		box-sizing: content-box;
		margin-top: -0.5rem;

		p {
			color: #FFF;
			margin: 0;
		}

		&.accordion--content_visible {
			max-height: none;
			overflow: visible;
			box-sizing: border-box;
		}
	}

	.accordion__icon {
		margin-right: rem(15px);
		font-size: 0.7rem;
		transform: rotate(180deg);
		transition: transform .3s;
	}
}

.customization {
	position: relative;
	padding: rem(144px) 0;
	overflow: hidden;

	@include _2100 {

		&__img {
			left: 9.3rem;
		}

		&__container {
			margin-left: 5rem;
		}
	}

	@include _1536 {
		padding: 7rem 0;

		&__item {
			&:nth-child(1) {
				margin-left: 1rem;
			}
		}

		&__img {
			top: 6rem;
			left: 0.3rem;
		}

		&__btn {
			margin-top: 4rem;
		}
	}

	@include _1440 {
		padding: 6rem 0;
		&__img {
			top: 5.4rem;
			left: 0.5rem;
		}
	}

	@include _1366 {
		&__title {
			margin-bottom: 5rem;
		}

		&__item {
			&:nth-child(1) {
				.customization__text {
					left: 16%;
				}
			}
			&:nth-child(2) {

				.customization__text {
					left: 17%;
				}
			}
			&:nth-child(3) {

				.customization__text {
					left: 19%;
				}
			}
			&:nth-child(4) {

				.customization__text {
					left: 16%;
					max-width: 16.75rem;
				}
			}
		}

		&__img {
			top: 8rem;
			left: -0.9rem;
		}

		&__image {
			width: 88%;
		}

		&__text {
			top: 14rem;
			max-width: 13.75rem;
			padding: 26px 14px 29px 22px;
		}
	}

	@include _1280 {
		&__item {
			&:nth-child(1) {
				.customization__text {
					left: 14%;
				}
			}
			&:nth-child(2) {

				.customization__text {
					left: 16%;
				}
			}
			&:nth-child(3) {

				.customization__text {
					left: 18%;
				}
			}
			&:nth-child(4) {

				.customization__text {
					left: 14%;
					max-width: 16.75rem;
				}
			}
		}
	}

	@include _1200 {
		padding: 5rem 0;
		&__title {
			max-width: 40rem;
			margin-bottom: 3rem;
		}

		&__container {
			display: none;
		}

		&__img {
			display: none;
		}

		&__container--mobile {
			display: flex;
		}

		&__img--mobile {
			display: block;
			top: 8rem;
		}

	}

	@include _992 {

		&__title {
			margin-bottom: 2rem;
			h2 {
				font-size: 2rem;
			}
		}

		&__img--mobile {
			left: -27rem;
			top: 4.9rem;
			width: 154%;
			transform: rotate(0.4deg);
		}

		&__image {
			width: 71%;
		}

		&__item--mobile {
			margin-right: -11.4rem;

			&:nth-child(1) {

				.customization__text {
					transform: translateX(-50%) rotate(7deg);
				}
			}
			&:nth-child(4) {

				.customization__text {
					transform: translateX(-50%) rotate(-7deg);
				}
			}

			.customization__text {
				border: none;
				top: 11rem;
				transform: translateX(-50%);
			}
		}
	}

	@include _769 {

		&__img--mobile {
			left: -17rem;
			top: 6.9rem;
		}

		&__item--mobile {
			&:nth-child(4) {
				.customization__text {
					max-width: 14.75rem;
				}
			}
		}
	}

	@include _740 {
		padding-bottom: 5rem;
		&__container--mobile {
			margin-left: -3.5rem;
		}


		&__img--mobile {
			top: 9rem;
			left: -15rem;
			transform: rotate(0deg);
		}
	}

	@include _500 {
		&__img--mobile {
			top: 10rem;
			transform: rotate(2deg);
		}
	}

	@include _480 {
		&__img--mobile {
			top: 15rem;
		}
	}

	@include _375 {
		&__img--mobile {
			left: -11rem;
		}
	}

	@include _360 {
		&__img--mobile {
			top: 15.6rem;
		}
	}

	&__img {
		position: absolute;
		top: 3.5rem;
		left: 3.3rem;
	}

	&__img--mobile {
		display: none;
		position: absolute;
		top: 9.1rem;
		left: -23rem;
		width: 150%;
	}

	&__title {
		max-width: rem(1020px);
		text-align: center;
		margin: 0 auto;
		margin-bottom: 3rem;

		h2 {
			font-family: "Montserrat-Bold", sans-serif;
			font-size: rem(40px);
			line-height: 1.2;
			text-transform: uppercase;
			color: $dark;
			margin: 0;

			span {
				color: $orange;
			}

		}
	}
	&__container--mobile {
		display: none;
		overflow-x: auto;
		overflow-y: hidden;
	}

	&__item--mobile {
		flex-shrink: 0;
		position: relative;
		display: flex;
		align-items: center;
		margin-right: -7rem;

		.customization__image {
			margin: 0 auto;
		}

		.customization__text {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			margin-right: -50%;
			border-color: $blue-lighter;
			border-width: 1.5px;
		}

		&:nth-child(1) {
			.customization__image {
				transform: rotate(-7deg);
			}

			.customization__text {
				transform: translate(-50%, -50%) rotate(7deg);
			}
		}

		&:nth-child(4) {
			.customization__image {
				transform: rotate(7deg);
			}

			.customization__text {
				transform: translate(-50%, -50%) rotate(-7deg);
				max-width: 16.75rem;
			}
		}
	}


	&__container {
		display: flex;
	}

	&__item {
		position: relative;
		// transition: transform .3s;

		&.--events-none {
			pointer-events: none;
		}

		&.main-transition {
			transition: transform .3s;
		}


		&:nth-child(1) {
			margin-top: 0.4rem;
			margin-left: 13rem;

			.customization__text {
				left: 17%;
				transform: rotate(10.6deg) translate(0, -7px);
			}
		}
		&:nth-child(2) {
			margin-top: 2.5rem;
			margin-left: -9.2rem;

			.customization__text {
				left: 19%;
				transform: rotate(5deg) translate(0, -20px);
			}

		}
		&:nth-child(3) {
			margin-top: 2.2rem;
			margin-left: -8.8rem;

			.customization__text {
				left: 22%;
				transform: rotate(2deg) translate(0, -16px);
			}
		}
		&:nth-child(4) {
			margin-top: 0.4rem;
			margin-left: -9.4rem;

			.customization__text {
				padding-left: 18px;
				left: 24%;
				transform: rotate(-5deg) translate(0, -16px);
			}
		}

		&:hover {
			position: relative;
			z-index: 5;

			.customization__text {
				border-color: $blue-lighter;
			}

			&:nth-child(1) {
				transform: rotate(-7deg) !important;

				.customization__text {
					transform: rotate(7deg);
				}
			}

			&:nth-child(2) {
				transform: rotate(-2deg) !important;

				.customization__text {
					transform: rotate(2deg);
				}

			}

			&:nth-child(3) {
				transform: rotate(2deg) !important;

				.customization__text {
					transform: rotate(-2deg);
				}
			}

			&:nth-child(4) {
				transform: rotate(7deg) translate(0, -11px) !important;

				.customization__text {
					transform: rotate(-7deg);
				}
			}
		}

	}

	&__image {
		// position: absolute;
		// top: -3rem;
		// left: 50%;
		// transform: translateX(-50%);
		// margin-right: -50%;
		width: auto;
	}

	&__text {
		max-width: rem(268px);
		padding: 37px 14px 37px 35px;
		border: 1px dashed transparent;
		border-radius: 10px;

		position: absolute;
		top: 18rem;

		transition: border-color .3s, transform .3s;

		h4 {
			font-family: "Montserrat-Bold", sans-serif;
			font-size: rem(20px);
			line-height: 1.4;
			margin: 0;
			color: $white;
			margin-bottom: 0.6rem;
			text-transform: uppercase;
		}

		p {
			margin: 0;
			color: $white;
		}
	}

	&__btn {
		margin-top: 2.6rem;
		text-align: center;
	}
}

.fabrics {
	position: relative;
	margin-bottom: 144px;

	@include _2100 {
		&__img {
			img {
				width: 100%;
			}
		}
	}

	@include _2100 {
		&__image {
			width: 100%;

			img {
				width: 100%;
			}
		}
	}

	@include _1536 {
		margin-bottom: 7rem;
		&__text {
			transform: translateY(450px);
		}

		&__top_img {
			right: 1rem;
		}
	}

	@include _1440 {
		margin-bottom: 6rem;
		&__top_img {
			right: -2rem;
		}
	}

	@include _1366 {
		margin-bottom: 7rem;

		&__item {
			min-height: 42rem;
		}

		&__text {
			padding: 0 30px 40px 30px;
			transform: translateY(380px);
		}
	}

	@include _1280 {
		margin-bottom: 6rem;

		&__top_img {
			top: -2rem;
			right: 0;
			width: 18%;
		}
	}

	@include _1200 {

		&__top_img {
			display: none;
		}

		&__text {
			padding-bottom: 20px;
			transform: translateY(330px);

			h4 {
				font-size: 1.1rem;
			}
		}
	}

	@include _992 {
		&__text {
			transform: none;
		}

		&__hidden_text {
			opacity: 1;
		}

		&__img {
			transform: none;
		}

		&__item {
			padding-top: 48px;

			&::after {
				background: rgba(0, 0, 0, 0.4);
			}
		}
	}

	@include _769 {
		&__container {
			flex-wrap: wrap;
		}

		&__item {
			width: 50%;
		}

		&__title {
			h2 {
				font-size: 2.2rem;
			}
		}
	}

	@include _740 {
		margin-bottom: 5rem;

		&__title {
			max-width: 583px;
			h2 {
				font-size: 2rem;
			}
		}
	}

	@include _500 {
		&__title {
			max-width: 423px;

			h2 {
				font-size: 1.7rem;
			}
		}

		&__image {
			width: 250%;
		}
	}

	@include _480 {

		&__item {
			width: 100%;
		}
	}

	@include _360 {
		&__title {
			max-width: 334px;
		}
	}

	&__top_img {
		position: absolute;
		top: -6rem;
		right: 6rem;
		z-index: 70;
	}

	&__title {
		max-width: 844px;
		margin-bottom: rem(63px);
		margin: 0 auto;
		text-align: center;
		margin-bottom: rem(63px);

		h2 {
			font-family: "Montserrat-Bold", sans-serif;
			font-size: rem(40px);
			line-height: 1.2;
			text-transform: uppercase;
			color: $dark;
			margin: 0;

			span {
				color: $orange;
			}

		}
	}

	&__container {
		position: relative;
		display: flex;
	}

	&__image {
		position: absolute;
		top: 1px;
		left: 0;
		z-index: 50;
	}

	&__item {
		position: relative;
		width: 25%;
		min-height: rem(795px);
		padding-top: 78px;
		display: flex;
		flex-direction: column;
		z-index: 5;
		overflow: hidden;

		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: transparent;
			transition: background-color .3s;
			z-index: -1;
		}

		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) );
			transition: background-color .3s;
			z-index: -1;
		}

		&:hover {

			&::before {
				background-color: $blue-darken;
			}

			.fabrics__text {
				transform: translateY(0);
			}

			.fabrics__img {
				transform: translateY(0);
			}

			.fabrics__hidden_text {
				opacity: 1;
			}
		}
	}

	&__text {
		padding: 0 50px 40px 50px;
		// display: flex;
		// flex-direction: column;
		// justify-content: flex-start;
		// align-items: flex-start;
		text-align: start;

		transform: translateY(490px);
		transition: transform .4s;

		h4 {
			font-family: "Montserrat-Bold", sans-serif;
			font-size: rem(24px);
			line-height: 1.4;
			margin: 0;
			margin-bottom: 1rem;
			color: $white;
			text-transform: uppercase;
		}
		p {
			margin: 0;
			color: $white;
		}
	}

	&__hidden_text {
		opacity: 0;
		margin-top: 1rem;
	}

	&__img {
		margin-top: auto;
		transform: translateY(100%);
		transition: transform .2s;
	}
}

.clients {
	position: relative;
    margin-bottom: 13rem;

	@include _1536 {
		&__img {
			left: -12rem;
		}
	}

	@include _1440 {
		margin-top: 9.5rem;
		&__container {
			margin-top: 9.5rem;
		}

		&__img {
			top: 6rem;
		}
	}

	@include _1366 {
		margin-top: 0;
		&__container {
			.slick-slide {
				width: 298px;
    			height: 298px;
			}
		}
	}

	@include _1280 {
		&__container {
			.slick-slide {
				width: 278px;
    			height: 278px;
			}
		}
	}

	@include _1200 {
		margin-bottom: 10rem;
		&__img {
			top: 9rem;
		}
	}

	@include _992 {
		&__item {

			img {
				width: 60%;
			}
		}

		&__container {
			.slick-slide {
				width: 228px;
				height: 228px;
				margin: 0 2.3rem;

			}
		}
	}

	@include _769 {

		&__img {
			top: 6rem;
			left: -26rem;
		}

		&__title {
			max-width: 36.75rem;

			h2 {
				font-size: 2.2rem;
			}
		}


		&__container {
			margin-top: 7rem;
			.slick-slide {
				width: 208px;
				height: 208px;
				margin: 0 2rem;
			}
		}

		&__item {
			img {
				width: 60%;
			}
		}
	}

	@include _740 {
		margin-bottom: 7rem;
		&__title {
			max-width: 30.75rem;
			h2 {
				font-size: 1.8rem;
			}
		}

		&__img {
			top: 5rem;
			left: -30rem;
		}
	}

	@include _500 {
		&__img {
			display: none;
		}
	}

	@include _480 {
		&__title {
			max-width: 23.75rem;
		}
	}

	@include _360 {
		&__title {
			max-width: 22.75rem;
		}
	}

	&__img {
		position: absolute;
		top: 4rem;
		left: 0;
		z-index: 5;
	}


	&__title {
		max-width: rem(1052px);
		margin: 0 auto;
		text-align: center;

		h2 {
			font-family: "Montserrat-Bold", sans-serif;
			font-size: rem(40px);
			line-height: 1.2;
			text-transform: uppercase;
			color: $dark;
			margin: 0;

			span {
				color: $orange;
			}
		}

	}

	&__container {
		position: relative;
		z-index: 8;
		margin-top: 7.5rem;

		.slick-list {
			margin: -4rem 0;
			padding: 4rem 0;
		}

		.slick-slide {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 318px;
			height: 318px;
			margin: 0 3.4rem;
			z-index: 5;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border: 1px solid $blue-lighter;
				border-radius: 10px;
				transform: rotate(45deg);
				background-color: #FFF;
				z-index: -1;
			}
		}
	}

	&__item {
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			margin: auto;
		}
	}

}

.cooperation {
	position: relative;
	background-color: $blue-main;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	@include _1536 {
		&__img {
			display: none;
		}
	}

	@include _1440 {

		&__info_item {

			p {
				max-width: 16rem;
			}
		}
	}

	@include _1366 {

		&__info_img {
			right: -5rem;
			width: 70%;
		}

		&__row {
			min-height: 49rem;
		}

		&__col {
			&:nth-child(1) {
				padding-top: 100px;
			}
		}
	}

	@include _1280 {
		&__row {
			min-height: 47rem;
		}

		&__info_img {
   			bottom: -14rem;
			width: 59%;
		}

		&__info_item p {
			max-width: 100%;
		}

	}
	@include _1200 {
		&__title {
			h2 {
				font-size: 2rem;
				margin: 0;
				text-align: left;
			}
		}

		&__info_img {
			bottom: -15.2rem;
			width: 70%;
		}
	}

	@include _992 {

		&__row {
			min-height: 41rem;
		}

		&__info_img {
			bottom: -9.2rem;
		}

		&__info_item p {
			max-width: 73%;
		}
	}

	@include _769 {
		&__row {
			flex-direction: column;
		}

		&__col {
			width: 100%;
			&:nth-child(1) {
				flex-basis: auto;
				padding-top: 60px;
			}
			&:nth-child(2) {
				flex-basis: auto;
			}
		}

		&__nav {
			display: none;

			&.-mobile {
				display: flex;
				width: 100%;
				margin-bottom: 3rem;
				li {
					min-height: 5rem;
				}
			}
		}

		&__content {
			&::after {
				content: "";
				position: absolute;
				top: 0;
				right: -100%;
				z-index: -1;
				background-color: #229290;
				height: 100%;
				width: 100%;
			}
		}

	}

	@include _500 {
		&__info_img {
			position: static;
			bottom: auto;
			right: auto;
			margin-left: auto;
		}

		&__content {
			padding: 47px 0 0 0;
		}

		&__info_item  {
			// width: 100%;
			max-width: 100%;
			p {
				max-width: 100%;
				margin-bottom: 1.5rem;
			}
		}
	}


	&__img {
		position: absolute;
		top: 0;
		right: 0;
	}

	&__row {
		display: flex;
		min-height: rem(810px);
	}

	&__col {
		flex-basis: 49%;

		&:nth-child(1) {
			padding-top: 121px;
			flex-basis: 51.7%;
		}


	}

	&__title {
		max-width: rem(567px);
		margin-bottom: rem(60px);
		h2 {
			font-family: "Montserrat-Bold", sans-serif;
			font-size: rem(40px);
			line-height: 1.2;
			text-transform: uppercase;
			color: #FFF;
			margin: 0;
			text-align: center;

			span {
				color: $blue-light;
			}
		}
	}

	&__content {
		position: relative;
		background-color: $blue-darken;
		padding: 47px;
		z-index: 5;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: -100%;
			z-index: -1;
			background-color: $blue-darken;
			height: 100%;
			width: 100%;
		}
	}

	&__numbers_nav {
		position: relative;
		z-index: 50;
		margin-bottom: rem(41px);
		display: flex;
		align-items: center;


		.arrow-number {
			color: #FFF;
			cursor: pointer;
		}

		.arrow-number-left {
			margin-right: 19px;

			&.disabled {
				display: none;
			}
		}

		.arrow-number-right {
			margin-left: 19px;

			&.disabled {
				display: none;
			}
		}
	}

	&__numbers {
		counter-reset: section;
	}

	&__numbers_item {
		position: relative;
		display: none;
		font-family: "Montserrat-Bold", sans-serif;
		font-size: rem(112px);
		line-height: 1;
		color: #FFF;

		&:nth-child(n + 10) span {
			content: none;
		}

		span {
			opacity: .2;

			&::before {
				content: "0";
			}
		}



		&::before {
    		content: attr(data-text);
			position: absolute;
			left: 50%;
			bottom: 0;
			transform: translateX(-50%);
			color: #FFF;
			font-size: rem(48px);
			line-height: 1;
			opacity: 1;
			z-index: 10;
		}

		&.active {
			display: inline-block;
		}
	}

	&__info_container {
		position: relative;
	}

	&__info_item {
		display: none;
		max-width: rem(322px);

		&.active {
			display: inline-block !important;
		}

		p {
			margin: 0;
			color: #FFF;
		}
	}

	&__info_img {
		position: absolute;
		position: absolute;
		right: -8rem;
		bottom: -16.3rem;
		z-index: 5;
	}

	&__nav {
		display: flex;
		height: 100%;
		counter-reset: section;

		&.-mobile {
			display: none;
		}
	}
	&__nav_item {
		position: relative;
		height: 100%;
		width: 20%;
		background-color: $blue-light;
		margin-right: 7px;
		cursor: pointer;
		transition: background-color .3s;

		&::before {
			counter-increment: section;
    		content: "0" counter(section);
			position: absolute;
			top: 50%;
			left: 50%;
			font-family: "Montserrat-Bold", sans-serif;
			font-size: rem(32px);
			line-height: 1;
			transform: translate(-50%, -50%);
			color: $blue-main;
		}

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			background-color: #FFF;
		}

		&.active {
			background-color: #FFF;
		}
	}
}

.footer_form {
	padding-top: rem(175px);
	padding-bottom: 6.2rem;
	position: relative;
	z-index: 5;

	@include _2100 {
		&__bg {
			width: 54.875rem;
		}
	}

	@include _2100 {
		&__line {
			width: 100%;

			img {
				width: 100%;
			}
		}
	}

	@include _1536 {
		&__img {
			left: 36%;
		}
	}

	@include _1366 {
		padding-top: 9rem;
		padding-bottom: 5rem;

		&__line {
			top: 44px;
		}

		&__bg {
			height: 86.2%;
			background-size: 140%;
		}
	}

	@include _1280 {
		&__bg {
			width: 40rem;
		}

		&__img {
			left: 32%;
    		width: 28%;
		}

		&__inputs {
			&:nth-child(2) {
				.footer_form__inputs_row {
					flex-wrap: wrap;
					justify-content: stretch;
					.checkbox {
						margin-right: 40px;
						margin-bottom: 24px;
						&:last-child {
							// width: 100%;
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}

	@include _1200 {
		&__bg {
			width: 30rem;
			background-size: 220%;
		}

		&__img {
			left: 32%;
			width: 34%;
		}
	}

	@include _992 {
		padding-top: 7rem;

		&__bg {
			height: 88.5%;
		}

		&__line {
			top: 24px;
			width: 160%;
		}
	}

	@include _769 {
		&__row {
			flex-direction: column;
		}

		&__col {
			max-width: 100%;

			&:nth-child(1) {
				max-width: 100%;
			}
			&:nth-child(2) {
				max-width: 100%;
				position: relative;
			}
		}

		&__bg {
			width: 100%;
			height: 47rem;
		}

		&__img {
			left: auto;
			right: 4rem;
			width: 46%;
		}
	}

	@include _500 {
		&__line {
			width: 250%;
		}
	}

	@include _480 {
		&__title {
			h2 {
				font-size: 2rem;
			}
		}

		&__img {
			right: 2rem;
			width: 54%;
		}
	}



	&__bg {
		position: absolute;
		bottom: 0;
		right: 0;
		height: 84%;
		width: rem(766px);

		background-image: url(../images/footer_form_bg.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 130%;
	}

	&__img {
		position: absolute;
		left: 42%;
		// transform: translateX(-50%);
		bottom: 0;
	}

	&__line {
		position: absolute;
		top: 64px;
		left: 0;

		&.--bottom {
			top: auto;
			bottom: 0;
			z-index: -1;
		}

		&.--opacity {
			opacity: 0.5;
		}
	}

	&__row {
		display: flex;
		justify-content: space-between;
	}

	&__col {
		&:nth-child(1) {
			max-width: rem(472px);
			width: 100%;
		}
	}

	&__title {
		margin-bottom: 2.7rem;
		h2 {
			font-family: "Montserrat-Bold", sans-serif;
			font-size: rem(40px);
			line-height: 1.2;
			text-transform: uppercase;
			color: $dark;
			margin: 0;

			span {
				color: $orange;
			}
		}

		p {
			font-size: rem(24px);
			color: $dark;
			margin: 0;
			margin-top: 0.4rem;
		}
	}

	&__step {
		font-family: "Montserrat-Bold", sans-serif;
		color: $dark;
		font-size: rem(24px);
		margin: 0;
		margin-bottom: 1.6rem;

		&.--white {
			color: #FFF;
		}
	}

	&__inputs {
		margin-bottom: 2.8rem;

		&:last-child {
			margin-bottom: 0;
		}

		p {
			font-family: "Montserrat-Bold", sans-serif;
			color: $dark;
			margin: 0;
			margin-bottom: 1.2rem;
		}
	}

	&__inputs_row {
		display: flex;

		&.--space-between {
			justify-content: space-between;
		}

		&.--flex-wrap {
			flex-wrap: wrap;
		}

		.checkbox--m {
			margin-right: 40px;
			margin-bottom: 24px;
		}
	}



	&__inputs_col {
		&:nth-child(1) {
			margin-right: rem(40px);
		}
	}

	&__checkbox {
		margin-bottom: 0.95rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__textarea {

	}


}

.textarea {
	background-color: #E3EEED;
	border-radius: 10px;
	padding: 17px 12px 12px 20px;
	width: 100%;
	resize: none;
	min-height: 106px;
}

.form_wrap {
    max-width: 22rem;
	padding-top: rem(128px);

	@include _1536 {
		max-width: 24rem;
	}

	@include _1366 {
		max-width: 22rem;
	}

	@include _1280 {
		max-width: 26rem;
	}

	@include _1200 {
		max-width: 22rem;
	}

	@include _769 {
		max-width: 100%;
	}

	@include _500 {
		padding-top: 5rem;
	}



	.form-icon {
		color: $blue-lighter;
		font-size: 1.4rem;
		margin-right: 13px;
		transition: color .3s;

		&--small_size {
    		font-size: 0.8rem;
		}
	}

	.agreement-check {
		margin-top: 2.2rem;
		color: #FFF;
		font-size: 14px;

		.agreement-label {
			font-size: 14px;
		}

		a {
			position: relative;
			display: inline-block;

			&::before {
				content: "";
				position: absolute;
				left: 0;
				bottom: -4px;
				width: 100%;
				height: 2px;
				border-bottom: 1px solid $orange;
			}

			&:hover {
				&::before {
					border-bottom: 1px dashed $orange;
				}
			}
		}
	}

	.btn {
		margin-top: rem(40px);
		span {
			padding: 25px 78px;
		}
	}
}

.form__heading {
	margin: 0;
	font-family: "Montserrat-Bold", sans-serif;
	font-size: rem(20px);
	line-height: 1.3;
	color: #FFF;
	margin-bottom: 40px;
	max-width: 20rem;
	span {
		color: $blue-lighter;
	}
}

.input_container {
	position: relative;
    margin-bottom: 33px;
	width: 100%;
	input {
		width: 100%;
		border: none;
		background-color: transparent;
		border-bottom: 1px solid $blue-lighter;
		color: #FFF;
		transition: border-color .3s;

	}

	&:last-child {
		margin-bottom: 0;
	}

	&:hover {
		.form-icon {
			color: #FFF;
		}

		input {
			border-color: #FFF;
		}
	}
}

.input_label {
	display: flex;
	align-items: center;
	color: #FFF;
	margin-bottom: 0.7rem;
}

.footer_custom {
	position: relative;
	background-color: $blue-darken;
	padding-top: 2.4rem;
	padding-bottom: rem(118px);
	overflow: hidden;

	@include _1536 {
		&__line {
			right: -12rem;

			&.--bottom {
				left: -12rem;
			}
		}
	}

	@include _1440 {
		&__line {
			right: -18rem;
		}
	}

	@include _1366 {
		&__line {
			right: -21rem;
		}
	}

	@include _1280 {
		&__line {
			right: -30rem;
		}
	}

	@include _1200 {
		&__line {
			right: -65%;
		}

		&__row {
			flex-wrap: wrap;

			&:nth-child(2) {
				min-height: 16rem;
				align-content: space-between;
			}
		}

		&__col {
			&:nth-child(1) {
				margin: 0;
				width: 50%;
			}
			&:nth-child(2) {
				margin: 0;
				width: 50%;

			}
			&:nth-child(3) {
				margin: 0;
				width: 50%;
			}
			&:nth-child(4) {
				margin: 0;
				width: 50%;
			}
		}
	}

	@include _992 {
		&__line {
			right: -75%;
		}
	}

	@include _769 {
		&__line {
			right: -115%;

			&.--bottom {
				width: 180%;
			}
		}
	}

	@include _740 {
		padding-bottom: 5rem;

		&__line {
			right: -181%;

			&.--bottom {
				width: 250%;
				bottom: 1rem;
			}
		}

		&__tel {
			margin-bottom: 1rem;
		}

		&__row {
			&:nth-child(2) {
				min-height: 17em;
				align-content: space-between;
			}
		}
	}

	@include _500 {
		&__line {
			display: none;

			&.--bottom {
				display: block;
			}
		}

		&__col {
			&:nth-child(1) {
				width: 100%;
				margin-bottom: 1.5rem;
			}
			&:nth-child(2) {
				width: 100%;
				margin-bottom: 1.5rem;
			}
			&:nth-child(3) {
				// width: 100%;
			}
			&:nth-child(4) {
				// width: 100%;
			}
		}
	}




	&__line {
		position: absolute;
		top: 3.8rem;
		right: 0;

		&.--bottom {
			top: auto;
			right: auto;
			left: 0;
			bottom: rem(53px);
		}
	}

	&__row {
		display: flex;

		&:nth-child(1) {
			margin-bottom: 1rem;
		}
	}

	&__logo {
		p {
			color: #FFF;
		}
	}

	&__col {

		&:nth-child(1) {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			margin-right: 10.2rem;
		}

		&:nth-child(2) {
			margin-right: rem(84px);
		}

		&:nth-child(3) {
			margin-right: rem(157px);
		}

	}

	&__mail-link {
		color: #FFF;
		margin-bottom: rem(24px);
		padding-left: 1.9rem;
		&::before {
			color: #97E9E7;
		}
	}

	&__tel {
		font-size: 16px;
		margin-bottom: 0.7rem;
		&::before {
			font-size: 1.1rem;
			color: #97E9E7;
		}
	}

	&__btn {
		span {
			padding: 10px 35px;
		}
	}

	&__location {
		display: flex;
		align-items: flex-start;
		margin-bottom: rem(24px);

		.icon-loaction {
			color: #97E9E7;
			margin-right: 10px;
			margin-top: 0.3rem;
			font-size: 1.5rem;
		}

		p {
			margin: 0;
			color: #FFF;
		}
	}

	&__social_links {

	}

	&__nav {
		ul {
			li {
				margin-bottom: 1rem;
				a {
					color: #7CE3E0;
					transition: color .3s;
				}

				&:hover {

					a {
						color: #FFF;
					}

				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

}

.social_links {
	display: flex;
	align-items: center;

	&__item {
		margin-right: 24px;

		&:last-child {
			margin-right: 0;
		}
	}
}

.copyright {
	padding: 19px 0 14px 0;

	@include _769 {
		&__inner {
			flex-wrap: wrap;
		}

		&__text {
			margin-bottom: 1rem;
		}
	}

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;

	}

	&__text {
		color: #807979;
		font-size: rem(14px);

		a {
			color: $orange;
		}
	}

	.b2b_link {
		display: flex;
		align-items: center;
		color: #404143;
		font-size: rem(14px);

		img {
			margin-left: 9px;
		}
	}
}
