@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?c0sowp');
  src:  url('fonts/icomoon.eot?c0sowp#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?c0sowp') format('truetype'),
    url('fonts/icomoon.woff?c0sowp') format('woff'),
    url('fonts/icomoon.svg?c0sowp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-loaction:before {
  content: "\e90c";
}
.icon-email:before {
  content: "\e909";
}
.icon-phone:before {
  content: "\e90a";
}
.icon-user:before {
  content: "\e90b";
}
.icon-tick-mark:before {
  content: "\e908";
}
.icon-arrow-left:before {
  content: "\e906";
}
.icon-arrow-right:before {
  content: "\e907";
}
.icon-icon-arrow-top:before {
  content: "\e905";
}
.icon-icon-arrow:before {
  content: "\e904";
}
.icon-discount:before {
  content: "\e903";
}
.icon-delivery:before {
  content: "\e902";
}
.icon-letter:before {
  content: "\e900";
}
.icon-phone-call:before {
  content: "\e901";
}
