@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

html {
  line-height: 32px;
}

body {
  font-family: 'Montserrat-Regular', sans-serif;
  background-color: #FFF;
  min-width: 360px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.section {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat-Bold", sans-serif;
}

b,
strong {
  font-weight: bold !important;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.btn {
  display: inline-block;
  cursor: pointer;
}

.btn span {
  position: relative;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.3;
  padding: 26px 43px;
  color: #FFF;
  background: -webkit-gradient(linear, left top, right top, from(#BC5B2A), to(#FF884B));
  background: -o-linear-gradient(left, #BC5B2A, #FF884B);
  background: linear-gradient(90deg, #BC5B2A, #FF884B);
  border-radius: 90px;
}

.btn:hover span {
  background: -webkit-gradient(linear, left top, right top, from(#FF884B), to(#BC5B2A));
  background: -o-linear-gradient(left, #FF884B, #BC5B2A);
  background: linear-gradient(90deg, #FF884B, #BC5B2A);
}

.btn:hover span::before {
  content: "";
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  left: 4px;
  border: 1px dashed #FFF;
  border-radius: 90px;
}

.main-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-logo p {
  margin-left: 2rem;
  color: #7CE3E0;
  max-width: 10.75rem;
}

.main-mail {
  position: relative;
  color: #7CE3E0;
  padding-left: 1.6rem;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

.main-mail::before {
  content: "\e900";
  position: absolute;
  top: 50%;
  left: 0;
  font-family: "icomoon";
  font-size: 0.8rem;
  color: #7CE3E0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

.main-mail:hover {
  color: #FFF;
}

.main-mail:hover::before {
  color: #FFF;
}

.main-tel {
  position: relative;
  font-size: 1.25rem;
  line-height: 1.4;
  padding-left: 1.6rem;
  color: #FFF;
}

.main-tel::before {
  content: "\e901";
  position: absolute;
  top: 50%;
  left: 0;
  font-family: "icomoon";
  font-size: 0.8rem;
  color: #FFF;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  -o-transition: transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.main-tel:hover::before {
  -webkit-transform: translateY(-50%) rotate(27deg);
  -ms-transform: translateY(-50%) rotate(27deg);
  transform: translateY(-50%) rotate(27deg);
}

.mobile_btn {
  position: fixed;
  top: 0.7rem;
  right: 1.5rem;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 890;
  background-color: #FFF;
  border-radius: 50%;
  display: none;
}

.mobile_btn span {
  display: block;
  width: 70%;
  height: 3px;
  background-color: #229290;
  border-radius: 2px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  -o-transition: transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.mobile_btn span:nth-child(2) {
  margin: 4px 0;
}

.mobile_btn.active span {
  position: absolute;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.mobile_btn.active span:first-child {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mobile_btn.active span:nth-child(2) {
  opacity: 0;
  visibility: hidden;
}

.mobile_btn.active span:last-child {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menu_mobile {
  position: fixed;
  top: -100%;
  right: 0;
  width: 0;
  height: 100%;
  z-index: 800;
  background-color: #229290;
}

.menu_mobile__inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 2rem 0;
}

.menu_mobile__nav {
  margin-top: auto;
}

.menu_mobile__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.menu_mobile__nav ul li {
  margin-bottom: 1.3rem;
  -webkit-transform: translateX(100px);
  -ms-transform: translateX(100px);
  transform: translateX(100px);
  opacity: 0;
}

.menu_mobile__nav ul li a {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 2rem;
  color: #FFF;
}

.menu_mobile__nav ul li:last-child {
  margin-bottom: 0;
}

.menu_mobile__mail-link {
  margin-top: auto;
  margin-bottom: 1rem;
  color: #FFF;
  font-size: 1.4rem;
  -webkit-transform: translateY(100px);
  -ms-transform: translateY(100px);
  transform: translateY(100px);
  opacity: 0;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.menu_mobile__mail-link::before {
  color: #FFF;
}

.menu_mobile__tel {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  -webkit-transform: translateY(100px);
  -ms-transform: translateY(100px);
  transform: translateY(100px);
  opacity: 0;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.menu_mobile__btn {
  -webkit-transform: translateY(100px);
  -ms-transform: translateY(100px);
  transform: translateY(100px);
  opacity: 0;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.checkbox {
  position: relative;
}

.checkbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
}

.checkbox input:checked ~ .checkbox__label .checkbox__box {
  background-color: #1FBCB7;
}

.checkbox input:checked ~ .checkbox__label .checkbox__box::before {
  content: "\e908";
  position: absolute;
  font-family: "icomoon";
  top: 50%;
  left: 50%;
  font-size: .8rem;
  color: #FFF;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.checkbox__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #404143;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
  cursor: pointer;
}

.checkbox__label:hover {
  color: #1FBCB7;
}

.checkbox__label:hover .checkbox__box {
  background-color: #1FBCB7;
}

.checkbox__label:active {
  color: #7CE3E0;
}

.checkbox__label:active .checkbox__box {
  background-color: #7CE3E0;
}

.checkbox__box {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #1FBCB7;
  margin-right: 10px;
  -webkit-transition: background-color .2s;
  -o-transition: background-color .2s;
  transition: background-color .2s;
}

.checkbox--width100 {
  width: 100%;
}

.main_custom {
  position: relative;
  overflow: hidden;
}

.body-custom {
  position: relative;
}

.header-custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 150;
}

.header-custom__top {
  padding: 0.3rem 0;
  border-bottom: 1px solid #97E9E7;
}

.header-custom__top .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-custom__bottom .container-fluid {
  text-align: center;
}

.header-custom__nav {
  position: relative;
  display: inline-block;
}

.header-custom__nav .nav-line {
  position: absolute;
  top: -2.7px;
  left: 0;
  width: 24px;
  height: 5px;
  background-color: #97E9E7;
  z-index: 50;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.header-custom__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-custom__nav ul li {
  padding-top: 14px;
  margin-right: 36px;
}

.header-custom__nav ul li:last-child {
  margin-right: 0;
}

.header-custom__nav ul li a {
  color: #FFF;
  text-transform: uppercase;
}

.header-custom__btn {
  margin-left: 20px;
}

.header-custom__btn span {
  padding: 10px 27px;
}

.header-custom__tel {
  margin-left: 112px;
}

.header-custom__mail {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: end;
}

.hero_section {
  position: relative;
  background-color: #1FBCB7;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero_section__img {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
}

.hero_section__inner {
  padding-top: 18rem;
  padding-bottom: 10.6rem;
}

.hero_section__title {
  max-width: 41rem;
}

.hero_section__title h1 {
  font-size: 3.5rem;
  line-height: 1.2;
  letter-spacing: 1px;
  color: #FFF;
  text-transform: uppercase;
  margin: 0;
}

.hero_section__title h1 span {
  color: #7CE3E0;
}

.hero_section__title h1 strong {
  font-family: "Montserrat-Regular", sans-serif;
  color: #FFF;
  font-size: 2rem;
  line-height: 1.3;
  text-transform: lowercase;
  font-weight: normal !important;
  letter-spacing: 0;
  margin-left: -0.7rem;
}

.hero_section__title p {
  color: #FFF;
  font-size: 2rem;
  line-height: 1.3;
  margin: 0;
  margin-top: 1rem;
}

.hero_section__btn {
  margin-top: 3.4rem;
  margin-bottom: 5.1rem;
}

.hero_section__btn span {
  padding: 23px 36px;
}

.hero_section__icons {
  max-width: 306px;
}

.hero_section__icons_text {
  color: #FFF;
  padding-left: 112px;
  position: relative;
  margin: 0;
  margin-bottom: 1.6875rem;
}

.hero_section__icons_text:nth-child(1) {
  z-index: 2;
}

.hero_section__icons_text:nth-child(1)::before {
  content: "\e902";
}

.hero_section__icons_text:nth-child(2)::before {
  content: "\e903";
  font-size: 2.1rem;
}

.hero_section__icons_text::before {
  position: absolute;
  top: 50%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 86px;
  height: 86px;
  font-family: "icomoon";
  font-size: 1.5rem;
  background-color: #1FBCB7;
  border: 1px solid #7CE3E0;
  border-radius: 50%;
  color: #7CE3E0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.feautures {
  position: relative;
  padding-top: 12.5rem;
  padding-bottom: 8.875rem;
}

.feautures__line {
  position: absolute;
  z-index: 50;
}

.feautures__first_line {
  top: 18rem;
  right: 51%;
}

.feautures__second_line {
  top: 4rem;
  left: 53%;
}

.feautures__third_line {
  top: 25rem;
  right: 51%;
}

.feautures__fourth_line {
  top: 23rem;
  left: 52%;
}

.feautures__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.feautures__col {
  max-width: 28.0625rem;
}

.feautures__image {
  position: absolute;
  top: 3rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-right: -50%;
  z-index: 65;
}

.feautures_box {
  position: relative;
  background-color: #E3EEED;
  border-radius: 10px;
  min-height: 264px;
  padding: 30px;
  margin-bottom: 106px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.feautures_box:last-child {
  margin-bottom: 0;
}

.feautures_box__image {
  position: absolute;
  top: -5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-right: -50%;
}

.feautures_box__text {
  text-align: center;
  margin-top: auto;
}

.feautures_box__text h4 {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 1rem;
}

.feautures_box__text h4 span {
  color: #FF884B;
}

.feautures_box__text p {
  text-align: center;
  margin: 0;
  line-height: 1.3;
}

.about_company {
  position: relative;
  background-color: #EEF5F4;
}

.about_company__image {
  position: absolute;
  bottom: -3rem;
  right: 12.5rem;
  z-index: 50;
}

.about_company__col_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 60;
}

.about_company__col_image.--bottom {
  display: none;
}

.about_company__row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.about_company__col {
  position: relative;
  z-index: 25;
  padding-top: 112px;
  padding-bottom: 92px;
  background-color: #1FBCB7;
}

.about_company__col:nth-child(1) {
  -ms-flex-preferred-size: 73%;
  flex-basis: 73%;
  padding-bottom: 0;
}

.about_company__col:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -100%;
  background-color: #1FBCB7;
  z-index: -1;
}

.about_company__col:nth-child(2) {
  -ms-flex-preferred-size: 27%;
  flex-basis: 27%;
}

.about_company__col:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0;
  right: -100%;
  bottom: 0;
  left: 0;
  background-color: #1FBCB7;
  z-index: -1;
}

.about_company__col:nth-child(2)::after {
  content: url(../images/about_company_bg1.png);
  position: absolute;
  bottom: -10px;
  left: 0;
}

.about_company__title {
  max-width: 27.875rem;
  margin-bottom: 4rem;
}

.about_company__title h2 {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 2.5rem;
  line-height: 1.2;
  text-transform: uppercase;
  color: #FFF;
  margin: 0;
  margin-bottom: 10px;
}

.about_company__title p {
  margin: 0;
  color: #7CE3E0;
  font-size: 1.5rem;
  line-height: 1.3;
}

.about_company__tabs_list {
  width: 100%;
}

.tabs__item {
  position: relative;
  padding-top: 64px;
  padding-bottom: 120px;
  background-color: #EEF5F4;
  margin-left: -100%;
  padding-left: 100%;
  display: none;
}

.tabs__item.active {
  display: block;
}

.tabs__item_info {
  max-width: 26rem;
}

.tabs__item_btn {
  margin-top: 2.525rem;
}

.tabs__item_btn span {
  padding: 24px 40px;
}

.tabs__item_img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.tabs__item h4 {
  font-size: 24px;
  line-height: 1.4;
  color: #404143;
  margin: 0;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.tabs__item p {
  margin: 0;
}

.tabs__nav {
  counter-reset: section;
  padding-left: 3.75rem;
  max-width: 24rem;
  margin-top: 1rem;
}

.tabs__nav.-mobile {
  display: none;
}

.tabs__nav_item {
  position: relative;
  padding-left: 80px;
  min-height: 62px;
  margin-bottom: 2.05rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #7CE3E0;
  text-transform: uppercase;
  font-family: "Montserrat-Bold", sans-serif;
  cursor: pointer;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

.tabs__nav_item:last-child {
  margin-bottom: 0;
}

.tabs__nav_item::before {
  counter-increment: section;
  content: counter(section);
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 2.5rem;
  line-height: 1;
  width: 62px;
  height: 62px;
  border-radius: 10px;
  border: 1px solid #7CE3E0;
  color: #7CE3E0;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

.tabs__nav_item::after {
  content: url(../images/tabs_nav_item_img.png);
  position: absolute;
  top: -2rem;
  left: -1rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}

.tabs__nav_item.active {
  background-color: #20AAA7;
  border: 1px solid #7CE3E0;
  border-radius: 10px;
  color: #FFF;
}

.tabs__nav_item.active::before {
  border: 1px solid transparent;
  color: #FFF;
}

.tabs__nav_item.active::after {
  opacity: 1;
  visibility: visible;
}

.tabs__nav_item:hover {
  background-color: #20AAA7;
  border: 1px solid #7CE3E0;
  border-radius: 10px;
  color: #FFF;
}

.tabs__nav_item:hover::before {
  border: 1px solid transparent;
  color: #FFF;
}

.tabs__nav_item:hover::after {
  opacity: 1;
  visibility: visible;
}

.company_catalog {
  position: relative;
  padding: 143px 0;
}

.company_catalog__btn {
  display: none;
  text-align: center;
  margin: 0 auto;
  margin-top: 2rem;
}

.company_catalog__btn span {
  padding: 24px 60px;
}

.company_catalog::before {
  content: "";
  position: absolute;
  top: 32.4%;
  left: 0;
  width: 100%;
  height: 35rem;
  background-color: #E3EEED;
}

.company_catalog__title {
  text-align: center;
  margin-bottom: 104px;
}

.company_catalog__title h2 {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 2.5rem;
  line-height: 1.2;
  text-transform: uppercase;
  color: #404143;
  margin: 0;
}

.company_catalog__title h2 span {
  color: #FF884B;
}

.company_catalog__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -12px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-height: 62.1rem;
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.company_catalog__col {
  padding: 12px;
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
}

.catalog_item {
  position: relative;
  border-radius: 10px;
  display: block;
}

.catalog_item__top {
  position: relative;
  background-color: #F5F5F5;
  border-radius: 10px 10px 0 0;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
  min-height: 22.9375rem;
}

.catalog_item__img {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-right: -50%;
}

.catalog_item__text {
  padding: 20px 16px;
  text-align: center;
  color: #404143;
  border-radius: 0 0 10px 10px;
  -webkit-transition: background-color .3s, color .3s;
  -o-transition: background-color .3s, color .3s;
  transition: background-color .3s, color .3s;
}

.catalog_item::before {
  content: "\e904";
  font-family: "Icomoon";
  font-size: 0.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 50;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 66px;
  height: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #FFF;
  background: -webkit-gradient(linear, left top, right top, from(#FF884B), to(#BC5B2A));
  background: -o-linear-gradient(left, #FF884B, #BC5B2A);
  background: linear-gradient(90deg, #FF884B, #BC5B2A);
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, -webkit-transform .3s;
  -o-transition: opacity .3s, transform .3s;
  transition: opacity .3s, transform .3s;
  transition: opacity .3s, transform .3s, -webkit-transform .3s;
}

.catalog_item::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 50;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: 1px dashed #FFF;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, -webkit-transform .3s;
  -o-transition: opacity .3s, transform .3s;
  transition: opacity .3s, transform .3s;
  transition: opacity .3s, transform .3s, -webkit-transform .3s;
}

.catalog_item:hover .catalog_item__top {
  background-color: #1FBCB7;
}

.catalog_item:hover .catalog_item__text {
  background-color: #229290;
  color: #FFF;
}

.catalog_item:hover::before {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50%, -50%) rotate(360deg);
  -ms-transform: translate(-50%, -50%) rotate(360deg);
  transform: translate(-50%, -50%) rotate(360deg);
}

.catalog_item:hover::after {
  opacity: 1;
  visibility: visible;
}

.services {
  position: relative;
  padding-top: 7rem;
  padding-bottom: 13.5625rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.services__top_bg {
  position: absolute;
  top: -4px;
  left: 0;
  width: 100%;
}

.services__main_img {
  position: absolute;
  left: 3%;
  bottom: -13.5625rem;
  z-index: 5;
}

.services__title {
  max-width: 44.5rem;
  margin: 0 auto;
  margin-bottom: 136px;
}

.services__title h2 {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 2.5rem;
  line-height: 1.2;
  text-transform: uppercase;
  color: #FFF;
  margin: 0;
  text-align: center;
}

.services__title h2 span {
  color: #7CE3E0;
}

.services__title p {
  margin: 0;
  color: #7CE3E0;
  font-size: 1.5rem;
  line-height: 1.4;
  text-align: center;
  margin-top: 0.4rem;
}

.services__title p span {
  color: #FFF;
  text-transform: uppercase;
  font-family: "Montserrat-Bold", sans-serif;
}

.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 5;
}

.services__col {
  max-width: 26rem;
  position: relative;
}

.services__col:nth-child(1) {
  z-index: 10;
}

.services__col:nth-child(1)::before {
  content: "";
  position: absolute;
  top: -105px;
  right: -112px;
  left: -100%;
  bottom: -217px;
  background-color: #229290;
  opacity: 0.67;
  border: 1px dashed #97E9E7;
  z-index: -1;
}

.services__col:nth-child(2)::before {
  content: "";
  position: absolute;
  top: -105px;
  right: -100%;
  left: -69px;
  bottom: -217px;
  background-color: #229290;
  opacity: 0.67;
  border: 1px dashed #97E9E7;
  z-index: -1;
}

.services__col:nth-child(2) .accordion {
  position: relative;
  z-index: 10;
}

.accordion__item {
  margin-bottom: 3rem;
}

.accordion__item:last-child {
  margin-bottom: 0;
}

.accordion__item.active .accordion__item_head {
  background-color: #219B98;
  border: 1px solid #FFF;
  padding-left: 63px;
}

.accordion__item.active .accordion__item_head::before {
  border: none;
  background-color: #219B98;
}

.accordion__item.active .accordion__item_head .accordion__icon {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}

.accordion__item.active .accordion__item_info {
  opacity: 1;
  padding: 32px;
  padding-left: 21px;
}

.accordion__item_head {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 86px;
  min-height: 63px;
  background-color: #20AAA7;
  color: #FFF;
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
}

.accordion__item_head::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  width: 62px;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 40px;
  line-height: 1;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #1FBCB7;
  border: 1px solid #97E9E7;
  border-radius: 10px;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
}

.accordion__item_info {
  padding: 32px;
  background-color: #20AAA7;
  border-radius: 0 0 10px 10px;
  padding-top: 3rem;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0 32px;
  will-change: max-height;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin-top: -0.5rem;
}

.accordion__item_info p {
  color: #FFF;
  margin: 0;
}

.accordion__item_info.accordion--content_visible {
  max-height: none;
  overflow: visible;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.accordion .accordion__icon {
  margin-right: 0.9375rem;
  font-size: 0.7rem;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.customization {
  position: relative;
  padding: 9rem 0;
  overflow: hidden;
}

.customization__img {
  position: absolute;
  top: 3.5rem;
  left: 3.3rem;
}

.customization__img--mobile {
  display: none;
  position: absolute;
  top: 9.1rem;
  left: -23rem;
  width: 150%;
}

.customization__title {
  max-width: 63.75rem;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.customization__title h2 {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 2.5rem;
  line-height: 1.2;
  text-transform: uppercase;
  color: #404143;
  margin: 0;
}

.customization__title h2 span {
  color: #FF884B;
}

.customization__container--mobile {
  display: none;
  overflow-x: auto;
  overflow-y: hidden;
}

.customization__item--mobile {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: -7rem;
}

.customization__item--mobile .customization__image {
  margin: 0 auto;
}

.customization__item--mobile .customization__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-right: -50%;
  border-color: #97E9E7;
  border-width: 1.5px;
}

.customization__item--mobile:nth-child(1) .customization__image {
  -webkit-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
  transform: rotate(-7deg);
}

.customization__item--mobile:nth-child(1) .customization__text {
  -webkit-transform: translate(-50%, -50%) rotate(7deg);
  -ms-transform: translate(-50%, -50%) rotate(7deg);
  transform: translate(-50%, -50%) rotate(7deg);
}

.customization__item--mobile:nth-child(4) .customization__image {
  -webkit-transform: rotate(7deg);
  -ms-transform: rotate(7deg);
  transform: rotate(7deg);
}

.customization__item--mobile:nth-child(4) .customization__text {
  -webkit-transform: translate(-50%, -50%) rotate(-7deg);
  -ms-transform: translate(-50%, -50%) rotate(-7deg);
  transform: translate(-50%, -50%) rotate(-7deg);
  max-width: 16.75rem;
}

.customization__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.customization__item {
  position: relative;
}

.customization__item.--events-none {
  pointer-events: none;
}

.customization__item.main-transition {
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.customization__item:nth-child(1) {
  margin-top: 0.4rem;
  margin-left: 13rem;
}

.customization__item:nth-child(1) .customization__text {
  left: 17%;
  -webkit-transform: rotate(10.6deg) translate(0, -7px);
  -ms-transform: rotate(10.6deg) translate(0, -7px);
  transform: rotate(10.6deg) translate(0, -7px);
}

.customization__item:nth-child(2) {
  margin-top: 2.5rem;
  margin-left: -9.2rem;
}

.customization__item:nth-child(2) .customization__text {
  left: 19%;
  -webkit-transform: rotate(5deg) translate(0, -20px);
  -ms-transform: rotate(5deg) translate(0, -20px);
  transform: rotate(5deg) translate(0, -20px);
}

.customization__item:nth-child(3) {
  margin-top: 2.2rem;
  margin-left: -8.8rem;
}

.customization__item:nth-child(3) .customization__text {
  left: 22%;
  -webkit-transform: rotate(2deg) translate(0, -16px);
  -ms-transform: rotate(2deg) translate(0, -16px);
  transform: rotate(2deg) translate(0, -16px);
}

.customization__item:nth-child(4) {
  margin-top: 0.4rem;
  margin-left: -9.4rem;
}

.customization__item:nth-child(4) .customization__text {
  padding-left: 18px;
  left: 24%;
  -webkit-transform: rotate(-5deg) translate(0, -16px);
  -ms-transform: rotate(-5deg) translate(0, -16px);
  transform: rotate(-5deg) translate(0, -16px);
}

.customization__item:hover {
  position: relative;
  z-index: 5;
}

.customization__item:hover .customization__text {
  border-color: #97E9E7;
}

.customization__item:hover:nth-child(1) {
  -webkit-transform: rotate(-7deg) !important;
  -ms-transform: rotate(-7deg) !important;
  transform: rotate(-7deg) !important;
}

.customization__item:hover:nth-child(1) .customization__text {
  -webkit-transform: rotate(7deg);
  -ms-transform: rotate(7deg);
  transform: rotate(7deg);
}

.customization__item:hover:nth-child(2) {
  -webkit-transform: rotate(-2deg) !important;
  -ms-transform: rotate(-2deg) !important;
  transform: rotate(-2deg) !important;
}

.customization__item:hover:nth-child(2) .customization__text {
  -webkit-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
}

.customization__item:hover:nth-child(3) {
  -webkit-transform: rotate(2deg) !important;
  -ms-transform: rotate(2deg) !important;
  transform: rotate(2deg) !important;
}

.customization__item:hover:nth-child(3) .customization__text {
  -webkit-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

.customization__item:hover:nth-child(4) {
  -webkit-transform: rotate(7deg) translate(0, -11px) !important;
  -ms-transform: rotate(7deg) translate(0, -11px) !important;
  transform: rotate(7deg) translate(0, -11px) !important;
}

.customization__item:hover:nth-child(4) .customization__text {
  -webkit-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
  transform: rotate(-7deg);
}

.customization__image {
  width: auto;
}

.customization__text {
  max-width: 16.75rem;
  padding: 37px 14px 37px 35px;
  border: 1px dashed transparent;
  border-radius: 10px;
  position: absolute;
  top: 18rem;
  -webkit-transition: border-color .3s, -webkit-transform .3s;
  transition: border-color .3s, -webkit-transform .3s;
  -o-transition: border-color .3s, transform .3s;
  transition: border-color .3s, transform .3s;
  transition: border-color .3s, transform .3s, -webkit-transform .3s;
}

.customization__text h4 {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 1.25rem;
  line-height: 1.4;
  margin: 0;
  color: #FFF;
  margin-bottom: 0.6rem;
  text-transform: uppercase;
}

.customization__text p {
  margin: 0;
  color: #FFF;
}

.customization__btn {
  margin-top: 2.6rem;
  text-align: center;
}

.fabrics {
  position: relative;
  margin-bottom: 144px;
}

.fabrics__top_img {
  position: absolute;
  top: -6rem;
  right: 6rem;
  z-index: 70;
}

.fabrics__title {
  max-width: 844px;
  margin-bottom: 3.9375rem;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 3.9375rem;
}

.fabrics__title h2 {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 2.5rem;
  line-height: 1.2;
  text-transform: uppercase;
  color: #404143;
  margin: 0;
}

.fabrics__title h2 span {
  color: #FF884B;
}

.fabrics__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fabrics__image {
  position: absolute;
  top: 1px;
  left: 0;
  z-index: 50;
}

.fabrics__item {
  position: relative;
  width: 25%;
  min-height: 49.6875rem;
  padding-top: 78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 5;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fabrics__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
  z-index: -1;
}

.fabrics__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(black));
  background: -o-linear-gradient(rgba(0, 0, 0, 0), black);
  background: linear-gradient(rgba(0, 0, 0, 0), black);
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
  z-index: -1;
}

.fabrics__item:hover::before {
  background-color: #229290;
}

.fabrics__item:hover .fabrics__text {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.fabrics__item:hover .fabrics__img {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.fabrics__item:hover .fabrics__hidden_text {
  opacity: 1;
}

.fabrics__text {
  padding: 0 50px 40px 50px;
  text-align: start;
  -webkit-transform: translateY(490px);
  -ms-transform: translateY(490px);
  transform: translateY(490px);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  -o-transition: transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.fabrics__text h4 {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 0;
  margin-bottom: 1rem;
  color: #FFF;
  text-transform: uppercase;
}

.fabrics__text p {
  margin: 0;
  color: #FFF;
}

.fabrics__hidden_text {
  opacity: 0;
  margin-top: 1rem;
}

.fabrics__img {
  margin-top: auto;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  -o-transition: transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.clients {
  position: relative;
  margin-bottom: 13rem;
}

.clients__img {
  position: absolute;
  top: 4rem;
  left: 0;
  z-index: 5;
}

.clients__title {
  max-width: 65.75rem;
  margin: 0 auto;
  text-align: center;
}

.clients__title h2 {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 2.5rem;
  line-height: 1.2;
  text-transform: uppercase;
  color: #404143;
  margin: 0;
}

.clients__title h2 span {
  color: #FF884B;
}

.clients__container {
  position: relative;
  z-index: 8;
  margin-top: 7.5rem;
}

.clients__container .slick-list {
  margin: -4rem 0;
  padding: 4rem 0;
}

.clients__container .slick-slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 318px;
  height: 318px;
  margin: 0 3.4rem;
  z-index: 5;
}

.clients__container .slick-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #97E9E7;
  border-radius: 10px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #FFF;
  z-index: -1;
}

.clients__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  margin: auto;
}

.cooperation {
  position: relative;
  background-color: #1FBCB7;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cooperation__img {
  position: absolute;
  top: 0;
  right: 0;
}

.cooperation__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50.625rem;
}

.cooperation__col {
  -ms-flex-preferred-size: 49%;
  flex-basis: 49%;
}

.cooperation__col:nth-child(1) {
  padding-top: 121px;
  -ms-flex-preferred-size: 51.7%;
  flex-basis: 51.7%;
}

.cooperation__title {
  max-width: 35.4375rem;
  margin-bottom: 3.75rem;
}

.cooperation__title h2 {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 2.5rem;
  line-height: 1.2;
  text-transform: uppercase;
  color: #FFF;
  margin: 0;
  text-align: center;
}

.cooperation__title h2 span {
  color: #7CE3E0;
}

.cooperation__content {
  position: relative;
  background-color: #229290;
  padding: 47px;
  z-index: 5;
}

.cooperation__content::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  z-index: -1;
  background-color: #229290;
  height: 100%;
  width: 100%;
}

.cooperation__numbers_nav {
  position: relative;
  z-index: 50;
  margin-bottom: 2.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cooperation__numbers_nav .arrow-number {
  color: #FFF;
  cursor: pointer;
}

.cooperation__numbers_nav .arrow-number-left {
  margin-right: 19px;
}

.cooperation__numbers_nav .arrow-number-left.disabled {
  display: none;
}

.cooperation__numbers_nav .arrow-number-right {
  margin-left: 19px;
}

.cooperation__numbers_nav .arrow-number-right.disabled {
  display: none;
}

.cooperation__numbers {
  counter-reset: section;
}

.cooperation__numbers_item {
  position: relative;
  display: none;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 7rem;
  line-height: 1;
  color: #FFF;
}

.cooperation__numbers_item:nth-child(n + 10) span {
  content: none;
}

.cooperation__numbers_item span {
  opacity: .2;
}

.cooperation__numbers_item span::before {
  content: "0";
}

.cooperation__numbers_item::before {
  content: attr(data-text);
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #FFF;
  font-size: 3rem;
  line-height: 1;
  opacity: 1;
  z-index: 10;
}

.cooperation__numbers_item.active {
  display: inline-block;
}

.cooperation__info_container {
  position: relative;
}

.cooperation__info_item {
  display: none;
  max-width: 20.125rem;
}

.cooperation__info_item.active {
  display: inline-block !important;
}

.cooperation__info_item p {
  margin: 0;
  color: #FFF;
}

.cooperation__info_img {
  position: absolute;
  position: absolute;
  right: -8rem;
  bottom: -16.3rem;
  z-index: 5;
}

.cooperation__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  counter-reset: section;
}

.cooperation__nav.-mobile {
  display: none;
}

.cooperation__nav_item {
  position: relative;
  height: 100%;
  width: 20%;
  background-color: #7CE3E0;
  margin-right: 7px;
  cursor: pointer;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
}

.cooperation__nav_item::before {
  counter-increment: section;
  content: "0" counter(section);
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 2rem;
  line-height: 1;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #1FBCB7;
}

.cooperation__nav_item:last-child {
  margin-right: 0;
}

.cooperation__nav_item:hover {
  background-color: #FFF;
}

.cooperation__nav_item.active {
  background-color: #FFF;
}

.footer_form {
  padding-top: 10.9375rem;
  padding-bottom: 6.2rem;
  position: relative;
  z-index: 5;
}

.footer_form__bg {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 84%;
  width: 47.875rem;
  background-image: url(../images/footer_form_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 130%;
}

.footer_form__img {
  position: absolute;
  left: 42%;
  bottom: 0;
}

.footer_form__line {
  position: absolute;
  top: 64px;
  left: 0;
}

.footer_form__line.--bottom {
  top: auto;
  bottom: 0;
  z-index: -1;
}

.footer_form__line.--opacity {
  opacity: 0.5;
}

.footer_form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer_form__col:nth-child(1) {
  max-width: 29.5rem;
  width: 100%;
}

.footer_form__title {
  margin-bottom: 2.7rem;
}

.footer_form__title h2 {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 2.5rem;
  line-height: 1.2;
  text-transform: uppercase;
  color: #404143;
  margin: 0;
}

.footer_form__title h2 span {
  color: #FF884B;
}

.footer_form__title p {
  font-size: 1.5rem;
  color: #404143;
  margin: 0;
  margin-top: 0.4rem;
}

.footer_form__step {
  font-family: "Montserrat-Bold", sans-serif;
  color: #404143;
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 1.6rem;
}

.footer_form__step.--white {
  color: #FFF;
}

.footer_form__inputs {
  margin-bottom: 2.8rem;
}

.footer_form__inputs:last-child {
  margin-bottom: 0;
}

.footer_form__inputs p {
  font-family: "Montserrat-Bold", sans-serif;
  color: #404143;
  margin: 0;
  margin-bottom: 1.2rem;
}

.footer_form__inputs_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_form__inputs_row.--space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer_form__inputs_row.--flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer_form__inputs_row .checkbox--m {
  margin-right: 40px;
  margin-bottom: 24px;
}

.footer_form__inputs_col:nth-child(1) {
  margin-right: 2.5rem;
}

.footer_form__checkbox {
  margin-bottom: 0.95rem;
}

.footer_form__checkbox:last-child {
  margin-bottom: 0;
}

.textarea {
  background-color: #E3EEED;
  border-radius: 10px;
  padding: 17px 12px 12px 20px;
  width: 100%;
  resize: none;
  min-height: 106px;
}

.form_wrap {
  max-width: 22rem;
  padding-top: 8rem;
}

.form_wrap .form-icon {
  color: #97E9E7;
  font-size: 1.4rem;
  margin-right: 13px;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

.form_wrap .form-icon--small_size {
  font-size: 0.8rem;
}

.form_wrap .agreement-check {
  margin-top: 2.2rem;
  color: #FFF;
  font-size: 14px;
}

.form_wrap .agreement-check .agreement-label {
  font-size: 14px;
}

.form_wrap .agreement-check a {
  position: relative;
  display: inline-block;
}

.form_wrap .agreement-check a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  border-bottom: 1px solid #FF884B;
}

.form_wrap .agreement-check a:hover::before {
  border-bottom: 1px dashed #FF884B;
}

.form_wrap .btn {
  margin-top: 2.5rem;
}

.form_wrap .btn span {
  padding: 25px 78px;
}

.form__heading {
  margin: 0;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 1.25rem;
  line-height: 1.3;
  color: #FFF;
  margin-bottom: 40px;
  max-width: 20rem;
}

.form__heading span {
  color: #97E9E7;
}

.input_container {
  position: relative;
  margin-bottom: 33px;
  width: 100%;
}

.input_container input {
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #97E9E7;
  color: #FFF;
  -webkit-transition: border-color .3s;
  -o-transition: border-color .3s;
  transition: border-color .3s;
}

.input_container:last-child {
  margin-bottom: 0;
}

.input_container:hover .form-icon {
  color: #FFF;
}

.input_container:hover input {
  border-color: #FFF;
}

.input_label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #FFF;
  margin-bottom: 0.7rem;
}

.footer_custom {
  position: relative;
  background-color: #229290;
  padding-top: 2.4rem;
  padding-bottom: 7.375rem;
  overflow: hidden;
}

.footer_custom__line {
  position: absolute;
  top: 3.8rem;
  right: 0;
}

.footer_custom__line.--bottom {
  top: auto;
  right: auto;
  left: 0;
  bottom: 3.3125rem;
}

.footer_custom__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_custom__row:nth-child(1) {
  margin-bottom: 1rem;
}

.footer_custom__logo p {
  color: #FFF;
}

.footer_custom__col:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-right: 10.2rem;
}

.footer_custom__col:nth-child(2) {
  margin-right: 5.25rem;
}

.footer_custom__col:nth-child(3) {
  margin-right: 9.8125rem;
}

.footer_custom__mail-link {
  color: #FFF;
  margin-bottom: 1.5rem;
  padding-left: 1.9rem;
}

.footer_custom__mail-link::before {
  color: #97E9E7;
}

.footer_custom__tel {
  font-size: 16px;
  margin-bottom: 0.7rem;
}

.footer_custom__tel::before {
  font-size: 1.1rem;
  color: #97E9E7;
}

.footer_custom__btn span {
  padding: 10px 35px;
}

.footer_custom__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}

.footer_custom__location .icon-loaction {
  color: #97E9E7;
  margin-right: 10px;
  margin-top: 0.3rem;
  font-size: 1.5rem;
}

.footer_custom__location p {
  margin: 0;
  color: #FFF;
}

.footer_custom__nav ul li {
  margin-bottom: 1rem;
}

.footer_custom__nav ul li a {
  color: #7CE3E0;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

.footer_custom__nav ul li:hover a {
  color: #FFF;
}

.footer_custom__nav ul li:last-child {
  margin-bottom: 0;
}

.social_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.social_links__item {
  margin-right: 24px;
}

.social_links__item:last-child {
  margin-right: 0;
}

.copyright {
  padding: 19px 0 14px 0;
}

.copyright__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.copyright__text {
  color: #807979;
  font-size: 0.875rem;
}

.copyright__text a {
  color: #FF884B;
}

.copyright .b2b_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #404143;
  font-size: 0.875rem;
}

.copyright .b2b_link img {
  margin-left: 9px;
}

@media (min-width: 2100px) {
  body {
    zoom: 1.2;
  }

  .customization__img {
    left: 9.3rem;
  }

  .customization__container {
    margin-left: 5rem;
  }

  .fabrics__img img {
    width: 100%;
  }

  .fabrics__image {
    width: 100%;
  }

  .fabrics__image img {
    width: 100%;
  }

  .footer_form__bg {
    width: 54.875rem;
  }

  .footer_form__line {
    width: 100%;
  }

  .footer_form__line img {
    width: 100%;
  }
}

@media (max-width: 1536px) {
  .feautures__first_line {
    top: 16rem;
  }

  .feautures__second_line {
    width: 46%;
  }

  .feautures__third_line {
    top: 29rem;
    width: 50%;
  }

  .feautures__fourth_line {
    top: 28rem;
    width: 50%;
  }

  .about_company__image {
    right: 2.5rem;
  }

  .tabs__item_info {
    max-width: 24rem;
  }

  .company_catalog {
    padding: 123px 0;
  }

  .customization {
    padding: 7rem 0;
  }

  .customization__item:nth-child(1) {
    margin-left: 1rem;
  }

  .customization__img {
    top: 6rem;
    left: 0.3rem;
  }

  .customization__btn {
    margin-top: 4rem;
  }

  .fabrics {
    margin-bottom: 7rem;
  }

  .fabrics__text {
    -webkit-transform: translateY(450px);
    -ms-transform: translateY(450px);
    transform: translateY(450px);
  }

  .fabrics__top_img {
    right: 1rem;
  }

  .clients__img {
    left: -12rem;
  }

  .cooperation__img {
    display: none;
  }

  .footer_form__img {
    left: 36%;
  }

  .form_wrap {
    max-width: 24rem;
  }

  .footer_custom__line {
    right: -12rem;
  }

  .footer_custom__line.--bottom {
    left: -12rem;
  }
}

@media (max-width: 1440px) {
  .hero_section__inner {
    padding-top: 14rem;
    padding-bottom: 6.7rem;
  }

  .feautures__second_line {
    top: 6rem;
  }

  .feautures__fourth_line {
    top: 29rem;
  }

  .about_company__col {
    padding-top: 6rem;
  }

  .about_company__col:nth-child(1) {
    -ms-flex-preferred-size: 65%;
    flex-basis: 65%;
  }

  .tabs__item {
    padding-bottom: 64px;
  }

  .tabs__item_img {
    width: 24%;
  }

  .company_catalog {
    padding: 6rem 0;
  }

  .services {
    padding-top: 6rem;
  }

  .customization {
    padding: 6rem 0;
  }

  .customization__img {
    top: 5.4rem;
    left: 0.5rem;
  }

  .fabrics {
    margin-bottom: 6rem;
  }

  .fabrics__top_img {
    right: -2rem;
  }

  .clients {
    margin-top: 9.5rem;
  }

  .clients__container {
    margin-top: 9.5rem;
  }

  .clients__img {
    top: 6rem;
  }

  .cooperation__info_item p {
    max-width: 16rem;
  }

  .footer_custom__line {
    right: -18rem;
  }
}

@media (max-width: 1366px) {
  .header-custom__tel {
    margin-left: 62px;
  }

  .hero_section__title {
    max-width: 37rem;
  }

  .hero_section__title h1 {
    font-size: 3rem;
  }

  .feautures {
    padding-top: 9rem;
    padding-bottom: 6rem;
  }

  .feautures__image {
    top: 5rem;
    width: 36%;
  }

  .about_company__col {
    padding-top: 90px;
  }

  .about_company__col:nth-child(2) {
    -ms-flex-preferred-size: 35%;
    flex-basis: 35%;
  }

  .about_company__image {
    bottom: -7rem;
  }

  .tabs__nav {
    padding-left: 3rem;
  }

  .company_catalog::before {
    top: 35%;
    height: 27rem;
  }

  .company_catalog__title {
    margin-bottom: 70px;
  }

  .company_catalog__container {
    min-height: 55rem;
  }

  .catalog_item__top {
    min-height: 20rem;
  }

  .services {
    padding-top: 5rem;
    padding-bottom: 10rem;
  }

  .services__title {
    margin-bottom: 100px;
  }

  .services__main_img {
    left: 50%;
    bottom: -10rem;
    width: 76%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .services__col:nth-child(1)::before {
    top: -90px;
    right: -90px;
    bottom: -10rem;
  }

  .services__col:nth-child(2)::before {
    top: -90px;
    left: -48px;
    bottom: -10rem;
  }

  .customization__title {
    margin-bottom: 5rem;
  }

  .customization__item:nth-child(1) .customization__text {
    left: 16%;
  }

  .customization__item:nth-child(2) .customization__text {
    left: 17%;
  }

  .customization__item:nth-child(3) .customization__text {
    left: 19%;
  }

  .customization__item:nth-child(4) .customization__text {
    left: 16%;
    max-width: 16.75rem;
  }

  .customization__img {
    top: 8rem;
    left: -0.9rem;
  }

  .customization__image {
    width: 88%;
  }

  .customization__text {
    top: 14rem;
    max-width: 13.75rem;
    padding: 26px 14px 29px 22px;
  }

  .fabrics {
    margin-bottom: 7rem;
  }

  .fabrics__item {
    min-height: 42rem;
  }

  .fabrics__text {
    padding: 0 30px 40px 30px;
    -webkit-transform: translateY(380px);
    -ms-transform: translateY(380px);
    transform: translateY(380px);
  }

  .clients {
    margin-top: 0;
  }

  .clients__container .slick-slide {
    width: 298px;
    height: 298px;
  }

  .cooperation__info_img {
    right: -5rem;
    width: 70%;
  }

  .cooperation__row {
    min-height: 49rem;
  }

  .cooperation__col:nth-child(1) {
    padding-top: 100px;
  }

  .footer_form {
    padding-top: 9rem;
    padding-bottom: 5rem;
  }

  .footer_form__line {
    top: 44px;
  }

  .footer_form__bg {
    height: 86.2%;
    background-size: 140%;
  }

  .form_wrap {
    max-width: 22rem;
  }

  .footer_custom__line {
    right: -21rem;
  }
}

@media (max-width: 1280px) {
  .hero_section__inner {
    padding-bottom: 4rem;
  }

  .about_company__col:nth-child(2) {
    -ms-flex-preferred-size: 33%;
    flex-basis: 33%;
  }

  .tabs__item_info {
    max-width: 20rem;
  }

  .services__col:nth-child(1)::before {
    top: -60px;
  }

  .services__col:nth-child(2)::before {
    top: -60px;
  }

  .customization__item:nth-child(1) .customization__text {
    left: 14%;
  }

  .customization__item:nth-child(2) .customization__text {
    left: 16%;
  }

  .customization__item:nth-child(3) .customization__text {
    left: 18%;
  }

  .customization__item:nth-child(4) .customization__text {
    left: 14%;
    max-width: 16.75rem;
  }

  .fabrics {
    margin-bottom: 6rem;
  }

  .fabrics__top_img {
    top: -2rem;
    right: 0;
    width: 18%;
  }

  .clients__container .slick-slide {
    width: 278px;
    height: 278px;
  }

  .cooperation__row {
    min-height: 47rem;
  }

  .cooperation__info_img {
    bottom: -14rem;
    width: 59%;
  }

  .cooperation__info_item p {
    max-width: 100%;
  }

  .footer_form__bg {
    width: 40rem;
  }

  .footer_form__img {
    left: 32%;
    width: 28%;
  }

  .footer_form__inputs:nth-child(2) .footer_form__inputs_row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
  }

  .footer_form__inputs:nth-child(2) .footer_form__inputs_row .checkbox {
    margin-right: 40px;
    margin-bottom: 24px;
  }

  .footer_form__inputs:nth-child(2) .footer_form__inputs_row .checkbox:last-child {
    margin-bottom: 0;
  }

  .form_wrap {
    max-width: 26rem;
  }

  .footer_custom__line {
    right: -30rem;
  }
}

@media (max-width: 1200px) {
  .header-custom__mail {
    display: none;
  }

  .header-custom__tel {
    margin-left: auto;
  }

  .hero_section__title {
    max-width: 32rem;
  }

  .hero_section__title h1 {
    font-size: 2.5rem;
  }

  .feautures {
    padding-top: 6rem;
  }

  .feautures__line {
    display: none;
  }

  .feautures__image {
    top: 12rem;
  }

  .about_company__col {
    padding-top: 70px;
  }

  .about_company__image {
    bottom: -4rem;
    width: 31%;
  }

  .tabs__nav_item {
    margin-bottom: 1.5rem;
  }

  .company_catalog::before {
    top: 38%;
    height: 20rem;
  }

  .company_catalog__container {
    min-height: 45rem;
  }

  .catalog_item__top {
    min-height: 14rem;
  }

  .services {
    padding-bottom: 20rem;
  }

  .services__title {
    margin-bottom: 70px;
  }

  .services__main_img {
    bottom: -20rem;
  }

  .services__col:nth-child(1)::before {
    content: none;
  }

  .services__col:nth-child(2)::before {
    content: none;
  }

  .customization {
    padding: 5rem 0;
  }

  .customization__title {
    max-width: 40rem;
    margin-bottom: 3rem;
  }

  .customization__container {
    display: none;
  }

  .customization__img {
    display: none;
  }

  .customization__container--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .customization__img--mobile {
    display: block;
    top: 8rem;
  }

  .fabrics__top_img {
    display: none;
  }

  .fabrics__text {
    padding-bottom: 20px;
    -webkit-transform: translateY(330px);
    -ms-transform: translateY(330px);
    transform: translateY(330px);
  }

  .fabrics__text h4 {
    font-size: 1.1rem;
  }

  .clients {
    margin-bottom: 10rem;
  }

  .clients__img {
    top: 9rem;
  }

  .cooperation__title h2 {
    font-size: 2rem;
    margin: 0;
    text-align: left;
  }

  .cooperation__info_img {
    bottom: -15.2rem;
    width: 70%;
  }

  .footer_form__bg {
    width: 30rem;
    background-size: 220%;
  }

  .footer_form__img {
    left: 32%;
    width: 34%;
  }

  .form_wrap {
    max-width: 22rem;
  }

  .footer_custom__line {
    right: -65%;
  }

  .footer_custom__row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .footer_custom__row:nth-child(2) {
    min-height: 16rem;
    -ms-flex-line-pack: justify;
    align-content: space-between;
  }

  .footer_custom__col:nth-child(1) {
    margin: 0;
    width: 50%;
  }

  .footer_custom__col:nth-child(2) {
    margin: 0;
    width: 50%;
  }

  .footer_custom__col:nth-child(3) {
    margin: 0;
    width: 50%;
  }

  .footer_custom__col:nth-child(4) {
    margin: 0;
    width: 50%;
  }
}

@media (max-width: 1024px) {
  .tabs__item {
    padding-top: 44px;
    padding-bottom: 44px;
  }
}

@media (max-width: 992px) {
  .hero_section {
    background-position: 34%;
  }

  .about_company__col_image {
    width: 160%;
  }

  .about_company__title {
    margin-bottom: 3rem;
  }

  .about_company__col:nth-child(2) {
    -ms-flex-preferred-size: 35%;
    flex-basis: 35%;
  }

  .company_catalog {
    padding: 80px 0;
  }

  .services__title {
    margin-bottom: 60px;
  }

  .services__top_bg {
    top: 0;
    width: 160%;
  }

  .customization__title {
    margin-bottom: 2rem;
  }

  .customization__title h2 {
    font-size: 2rem;
  }

  .customization__img--mobile {
    left: -27rem;
    top: 4.9rem;
    width: 154%;
    -webkit-transform: rotate(0.4deg);
    -ms-transform: rotate(0.4deg);
    transform: rotate(0.4deg);
  }

  .customization__image {
    width: 71%;
  }

  .customization__item--mobile {
    margin-right: -11.4rem;
  }

  .customization__item--mobile:nth-child(1) .customization__text {
    -webkit-transform: translateX(-50%) rotate(7deg);
    -ms-transform: translateX(-50%) rotate(7deg);
    transform: translateX(-50%) rotate(7deg);
  }

  .customization__item--mobile:nth-child(4) .customization__text {
    -webkit-transform: translateX(-50%) rotate(-7deg);
    -ms-transform: translateX(-50%) rotate(-7deg);
    transform: translateX(-50%) rotate(-7deg);
  }

  .customization__item--mobile .customization__text {
    border: none;
    top: 11rem;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .fabrics__text {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .fabrics__hidden_text {
    opacity: 1;
  }

  .fabrics__img {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .fabrics__item {
    padding-top: 48px;
  }

  .fabrics__item::after {
    background: rgba(0, 0, 0, 0.4);
  }

  .clients__item img {
    width: 60%;
  }

  .clients__container .slick-slide {
    width: 228px;
    height: 228px;
    margin: 0 2.3rem;
  }

  .cooperation__row {
    min-height: 41rem;
  }

  .cooperation__info_img {
    bottom: -9.2rem;
  }

  .cooperation__info_item p {
    max-width: 73%;
  }

  .footer_form {
    padding-top: 7rem;
  }

  .footer_form__bg {
    height: 88.5%;
  }

  .footer_form__line {
    top: 24px;
    width: 160%;
  }

  .footer_custom__line {
    right: -75%;
  }
}

@media (max-width: 960px) {
  .feautures__col {
    max-width: 22rem;
  }

  .feautures_box__text h4 {
    font-size: 1.1rem;
  }
}

@media (max-width: 769px) {
  .mobile_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header-custom__bottom {
    display: none;
  }

  .header-custom__btn {
    display: none;
  }

  .header-custom__tel {
    margin-left: auto;
    font-size: 1rem;
    margin-right: 80px;
  }

  .header-custom__logo p {
    margin-left: 1rem;
    font-size: 0.875rem;
  }

  .hero_section {
    background-position: 44%;
  }

  .hero_section__inner {
    padding-top: 10rem;
  }

  .feautures__image {
    display: none;
  }

  .feautures__col {
    max-width: 21rem;
  }

  .feautures_box {
    margin-bottom: 84px;
  }

  .feautures_box__image {
    width: 68%;
  }

  .about_company {
    background-color: #1FBCB7;
  }

  .about_company__title h2 {
    font-size: 2.3rem;
  }

  .about_company__col_image {
    width: 220%;
  }

  .about_company__col_image.--bottom {
    display: none;
    top: auto;
    bottom: 0;
  }

  .about_company__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .about_company__col {
    width: 100%;
  }

  .about_company__col:nth-child(1) {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }

  .about_company__col:nth-child(2) {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    padding-top: 0;
    padding-bottom: 0;
  }

  .about_company__image {
    z-index: 60;
    top: 4rem;
    bottom: auto;
  }

  .about_company__col:nth-child(2)::after {
    content: none;
  }

  .tabs__item::before {
    content: "";
    position: absolute;
    top: 0;
    right: -49%;
    height: 100%;
    width: 50%;
    background-color: #EEF5F4;
  }

  .tabs__nav {
    display: none;
    max-width: 100%;
    width: 100%;
    padding-left: 0;
  }

  .tabs__nav.-mobile {
    display: block;
    margin-bottom: 40px;
  }

  .company_catalog__title h2 {
    font-size: 2.3rem;
  }

  .company_catalog::before {
    top: 34%;
  }

  .company_catalog__container {
    min-height: 51rem;
  }

  .company_catalog__col {
    -ms-flex-preferred-size: 33.3%;
    flex-basis: 33.3%;
  }

  .company_catalog__col:nth-child(n+7) {
    display: none;
  }

  .company_catalog__btn {
    display: block;
  }

  .catalog_item__top {
    min-height: 18rem;
  }

  .services__title {
    max-width: 40.5rem;
  }

  .services__title h2 {
    font-size: 2.3rem;
  }

  .services__title p {
    font-size: 1.3rem;
  }

  .services__col {
    max-width: 20rem;
  }

  .services__top_bg {
    width: 180%;
  }

  .customization__img--mobile {
    left: -17rem;
    top: 6.9rem;
  }

  .customization__item--mobile:nth-child(4) .customization__text {
    max-width: 14.75rem;
  }

  .fabrics__container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .fabrics__item {
    width: 50%;
  }

  .fabrics__title h2 {
    font-size: 2.2rem;
  }

  .clients__img {
    top: 6rem;
    left: -26rem;
  }

  .clients__title {
    max-width: 36.75rem;
  }

  .clients__title h2 {
    font-size: 2.2rem;
  }

  .clients__container {
    margin-top: 7rem;
  }

  .clients__container .slick-slide {
    width: 208px;
    height: 208px;
    margin: 0 2rem;
  }

  .clients__item img {
    width: 60%;
  }

  .cooperation__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .cooperation__col {
    width: 100%;
  }

  .cooperation__col:nth-child(1) {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    padding-top: 60px;
  }

  .cooperation__col:nth-child(2) {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }

  .cooperation__nav {
    display: none;
  }

  .cooperation__nav.-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 3rem;
  }

  .cooperation__nav.-mobile li {
    min-height: 5rem;
  }

  .cooperation__content::after {
    content: "";
    position: absolute;
    top: 0;
    right: -100%;
    z-index: -1;
    background-color: #229290;
    height: 100%;
    width: 100%;
  }

  .footer_form__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer_form__col {
    max-width: 100%;
  }

  .footer_form__col:nth-child(1) {
    max-width: 100%;
  }

  .footer_form__col:nth-child(2) {
    max-width: 100%;
    position: relative;
  }

  .footer_form__bg {
    width: 100%;
    height: 47rem;
  }

  .footer_form__img {
    left: auto;
    right: 4rem;
    width: 46%;
  }

  .form_wrap {
    max-width: 100%;
  }

  .footer_custom__line {
    right: -115%;
  }

  .footer_custom__line.--bottom {
    width: 180%;
  }

  .copyright__inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .copyright__text {
    margin-bottom: 1rem;
  }
}

@media (max-width: 740px) {
  .header-custom__tel {
    display: none;
  }

  .services__top_bg {
    width: 200%;
  }

  .services__title {
    max-width: 100%;
  }

  .services__title h2 {
    font-size: 2.1rem;
  }

  .services__title p {
    font-size: 1.3rem;
  }

  .services__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .services__col {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    max-width: 100%;
  }

  .services__col:nth-child(1) {
    margin-bottom: 3rem;
  }

  .customization {
    padding-bottom: 5rem;
  }

  .customization__container--mobile {
    margin-left: -3.5rem;
  }

  .customization__img--mobile {
    top: 9rem;
    left: -15rem;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  .fabrics {
    margin-bottom: 5rem;
  }

  .fabrics__title {
    max-width: 583px;
  }

  .fabrics__title h2 {
    font-size: 2rem;
  }

  .clients {
    margin-bottom: 7rem;
  }

  .clients__title {
    max-width: 30.75rem;
  }

  .clients__title h2 {
    font-size: 1.8rem;
  }

  .clients__img {
    top: 5rem;
    left: -30rem;
  }

  .footer_custom {
    padding-bottom: 5rem;
  }

  .footer_custom__line {
    right: -181%;
  }

  .footer_custom__line.--bottom {
    width: 250%;
    bottom: 1rem;
  }

  .footer_custom__tel {
    margin-bottom: 1rem;
  }

  .footer_custom__row:nth-child(2) {
    min-height: 17em;
    -ms-flex-line-pack: justify;
    align-content: space-between;
  }
}

@media (max-width: 600px) {
  .feautures__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .feautures__col {
    max-width: 100%;
  }

  .feautures__col:nth-child(1) {
    margin-bottom: 84px;
  }

  .feautures_box {
    min-height: 241px;
  }

  .feautures_box__image {
    width: auto;
  }

  .about_company__col:nth-child(1) {
    padding-top: 60px;
  }

  .about_company__title h2 {
    font-size: 2.3rem;
  }

  .about_company__title p {
    font-size: 1.3rem;
  }

  .company_catalog__title {
    margin-bottom: 90px;
  }

  .company_catalog__title h2 {
    font-size: 2.3rem;
  }

  .company_catalog__container {
    min-height: 41rem;
  }

  .catalog_item__top {
    min-height: 13rem;
  }
}

@media (max-width: 500px) {
  .about_company__image {
    display: none;
  }

  .tabs__item_info {
    max-width: 18rem;
  }

  .tabs__item_img {
    right: -2rem;
  }

  .company_catalog {
    padding: 70px 0;
  }

  .company_catalog__container {
    min-height: 51rem;
  }

  .company_catalog__col {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }

  .company_catalog__col:nth-child(n+5) {
    display: none;
  }

  .catalog_item__top {
    min-height: 18rem;
  }

  .services {
    padding-bottom: 15rem;
  }

  .services__top_bg {
    width: 230%;
  }

  .services__main_img {
    bottom: -15rem;
  }

  .services__title {
    max-width: 100%;
  }

  .services__title h2 {
    font-size: 1.7rem;
  }

  .services__title p {
    font-size: 1.2rem;
  }

  .customization__img--mobile {
    top: 10rem;
    -webkit-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
  }

  .fabrics__title {
    max-width: 423px;
  }

  .fabrics__title h2 {
    font-size: 1.7rem;
  }

  .fabrics__image {
    width: 250%;
  }

  .clients__img {
    display: none;
  }

  .cooperation__info_img {
    position: static;
    bottom: auto;
    right: auto;
    margin-left: auto;
  }

  .cooperation__content {
    padding: 47px 0 0 0;
  }

  .cooperation__info_item {
    max-width: 100%;
  }

  .cooperation__info_item p {
    max-width: 100%;
    margin-bottom: 1.5rem;
  }

  .footer_form__line {
    width: 250%;
  }

  .form_wrap {
    padding-top: 5rem;
  }

  .footer_custom__line {
    display: none;
  }

  .footer_custom__line.--bottom {
    display: block;
  }

  .footer_custom__col:nth-child(1) {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .footer_custom__col:nth-child(2) {
    width: 100%;
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 480px) {
  .mobile_btn {
    right: 1rem;
  }

  .menu_mobile__nav ul li {
    margin-bottom: 0.7rem;
  }

  .hero_section {
    background-image: url(../images/hero--bg.png) !important;
    padding-bottom: 14rem;
  }

  .hero_section__title h1 strong {
    margin-left: 0;
  }

  .hero_section__btn {
    margin-bottom: 3rem;
  }

  .hero_section__img {
    display: block;
  }

  .hero_section__title h1 {
    font-size: 2rem;
  }

  .about_company__title h2 {
    font-size: 2rem;
  }

  .company_catalog {
    padding: 70px 0;
  }

  .company_catalog::before {
    top: 29%;
  }

  .company_catalog__container {
    min-height: 47rem;
  }

  .company_catalog__title {
    margin-bottom: 60px;
  }

  .company_catalog__title h2 {
    font-size: 2rem;
  }

  .catalog_item__top {
    min-height: 16rem;
  }

  .services__title h2 {
    font-size: 2rem;
  }

  .services__title h2 span {
    display: block;
  }

  .customization__img--mobile {
    top: 15rem;
  }

  .fabrics__item {
    width: 100%;
  }

  .clients__title {
    max-width: 23.75rem;
  }

  .footer_form__title h2 {
    font-size: 2rem;
  }

  .footer_form__img {
    right: 2rem;
    width: 54%;
  }
}

@media (max-width: 375px) {
  .tabs__item {
    padding-bottom: 75px;
  }

  .tabs__item_btn span {
    padding: 24px 35px;
  }

  .company_catalog__container {
    min-height: 43rem;
  }

  .catalog_item__top {
    min-height: 14rem;
  }

  .services__main_img {
    width: 90%;
  }

  .customization__img--mobile {
    left: -11rem;
  }
}

@media (max-width: 360px) {
  .mobile_btn {
    top: 0.9rem;
    right: 0.7rem;
    width: 50px;
    height: 50px;
  }

  .menu_mobile__nav ul li a {
    font-size: 1.8rem;
  }

  .customization__img--mobile {
    top: 15.6rem;
  }

  .fabrics__title {
    max-width: 334px;
  }

  .clients__title {
    max-width: 22.75rem;
  }
}